Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1

Correct syntax error in lift configuration
  .lift.toml
Owners: none

Update directory for build output in container image
  .github/workflows/merge-v4.yml
Owners: @planetf1

Update docker image to UBI9 openjdk17-runtime
  open-metadata-resources/open-metadata-deployment/docker/egeria/Dockerfile
Owners: @planetf1

Do #7090 specify Java 17 for sonatype lift
  .lift.toml
Owners: none

#7330 Additional updates to workflows for v4 switchover
  .azure-pipelines/nexus-iq-clm.yml
  .azure-pipelines/sonar.yml
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-gradle.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-codeql.yml
  .github/workflows/pr-gradle.yml
  .github/workflows/pr-maven-latest.yml
  .github/workflows/pr-maven-prod.yml
  .github/workflows/pr-v4.yml
  .github/workflows/release-v4.yml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  pom.xml
Owners: @planetf1, @mandy-chessell

#7330 updates to gradle properties
  gradle.properties
Owners: @planetf1

#7330 fix dup glossary-author-fvt artifact reference in settings.gradle
  settings.gradle
Owners: @planetf1

#7330 Disable caching for codeQL workflow as full before/after comparison needed
  .github/workflows/codeql-v4.yml
Owners: @planetf1

Version 4 types
  open-metadata-implementation/adapters/open-connectors/rest-client-connectors/rest-client-connectors-api/src/main/java/org/odpi/openmetadata/adapters/connectors/restclients/ffdc/RESTClientConnectorErrorCode.java
  open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/src/main/java/org/odpi/openmetadata/adapters/connectors/restclients/spring/SpringRESTClientConnector.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/utilities/OMRSRepositoryPropertiesUtilities.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchive.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchive1_2.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchive3_15.java
  open-metadata-test/open-metadata-fvt/fvt-utilities/src/main/java/org/odpi/openmetadata/fvt/utilities/auditlog/FVTAuditLogDestination.java
Owners: @mandy-chessell, @planetf1

Deploying to gh-pages from @ odpi/egeria@3b3f94076f5f7c9a9b628d4927f2a78a560079f8 🚀
  allclasses-index.html
  org/odpi/openmetadata/opentypes/OpenMetadataTypesArchive3_15.html
  org/odpi/openmetadata/opentypes/package-summary.html
  org/odpi/openmetadata/opentypes/package-tree.html
  overview-tree.html
  type-search-index.js
Owners: none

#7330 stop on any gradle deprecation warnings to prevent accidental usage regressions
  gradle.properties
Owners: @planetf1

#7330 remove spotbugs config - no longer used
  spotbugs-security-exclude.xml
  spotbugs-security-include.xml
Owners: @planetf1

#7330 remove additional files no longer matching build pipelines
  Gemfile
  _config.yml
Owners: none

#7403 Fix packaging of ui server chassis
  open-metadata-distribution/open-metadata-assemblies/build.gradle
Owners: @planetf1

Separate anchorGUID setting from parent set
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ValidValuesHandler.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/server/OpenMetadataStoreRESTServices.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@5000ea5a4650b8a9e6a458a076eb1d684d2854f3 🚀
  org/odpi/openmetadata/accessservices/securityofficer/server/handler/SecurityOfficerHandler.html
  org/odpi/openmetadata/accessservices/securityofficer/server/processors/SecurityOfficerEventProcessor.html
  org/odpi/openmetadata/accessservices/securityofficer/server/publisher/SecurityOfficerPublisher.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceType.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/repositoryconnector/OMRSRepositoryHelper.html
  org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentHelper.html
  org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentManager.html
  serialized-form.html
Owners: none

Fix treating possible null members of collection
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/service/DataEngineRESTServices.java
Owners: @popa-raluca, @lcpopa

Add new helper classes to archive builder
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/server/OpenMetadataStoreRESTServices.java
  open-metadata-resources/open-metadata-archives/content-pack-helpers/src/main/java/org/odpi/openmetadata/samples/archiveutilities/GovernanceArchiveHelper.java
  open-metadata-resources/open-metadata-archives/content-pack-helpers/src/main/java/org/odpi/openmetadata/samples/archiveutilities/SimpleCatalogArchiveHelper.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@437b6875145df88f6a18055637b3df6bf2d28fb4 🚀
  constant-values.html
  org/odpi/openmetadata/samples/archiveutilities/GovernanceArchiveHelper.html
  org/odpi/openmetadata/samples/archiveutilities/SimpleCatalogArchiveHelper.html
Owners: none

Remove latestChange anchor creation for uncheckedLinkElement
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/OpenMetadataAPIGenericHandler.java
Owners: @mandy-chessell

DE OMAS - setAnchorGUID for SchemaType & SchemaAttribute
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineDataFileHandler.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineSchemaTypeHandler.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/service/DataEngineRESTServices.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineDataFileHandlerTest.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineSchemaTypeHandlerTest.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/service/DataEngineRESTServicesTest.java
Owners: @popa-raluca, @lcpopa

DE OMAS - enable junit5 tests in gradle build
  open-metadata-implementation/access-services/data-engine/data-engine-client/build.gradle
  open-metadata-implementation/access-services/data-engine/data-engine-server/build.gradle
  open-metadata-implementation/access-services/data-engine/data-engine-spring/build.gradle
Owners: @planetf1

DE OMAS - fix gradle build
  open-metadata-implementation/access-services/data-engine/data-engine-client/build.gradle
  open-metadata-implementation/access-services/data-engine/data-engine-server/build.gradle
  open-metadata-implementation/access-services/data-engine/data-engine-spring/build.gradle
Owners: @planetf1

DE OMAS - fix unit tests
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineDataFileHandlerTest.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/service/DataEngineRESTServicesTest.java
Owners: @popa-raluca, @lcpopa

Asset Manager OMAS - fix for creating LineageMapping instead of ProcessCall
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ProcessHandler.java
Owners: @mandy-chessell

update spring-boot.version
  pom.xml
Owners: @planetf1, @mandy-chessell

#7413 ensure spring boot applications are packaged as primary jar in maven publish artifacts
  open-metadata-implementation/server-chassis/server-chassis-spring/build.gradle
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/build.gradle
Owners: @planetf1

DE OMAS - replace LineageMappings with DataFlows
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DataEngineEventHeader.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DataEngineEventType.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DataFlowsEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/ffdc/DataEngineErrorCode.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/model/DataFlow.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/model/DeleteSemantic.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/model/Process.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/rest/DataFlowsRequestBody.java
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineClient.java
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineEventClient.java
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineRESTClient.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/docs/scenarios/add-data-flows.md
  open-metadata-implementation/access-services/data-engine/data-engine-server/docs/scenarios/add-lineage-mappings.md
  open-metadata-implementation/access-services/data-engine/data-engine-server/docs/scenarios/delete-process.md
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineSchemaTypeHandler.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/listeners/DataEngineInTopicListener.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/processors/DataEngineEventProcessor.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/service/DataEngineRESTServices.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineSchemaTypeHandlerTest.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/service/DataEngineRESTServicesTest.java
  open-metadata-implementation/access-services/data-engine/data-engine-spring/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/spring/DataEngineResource.java
  open-metadata-implementation/access-services/data-engine/data-engine-spring/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/spring/DataEngineResourceTest.java
  open-metadata-implementation/access-services/data-engine/docs/samples/events/DataEngine_upsert_events.txt
  open-metadata-implementation/access-services/data-engine/docs/samples/initial-load/data-engine/payloads/create-processes.json
  open-metadata-implementation/access-services/data-engine/docs/scenarios/README.md
  open-metadata-implementation/access-services/data-engine/docs/scenarios/add-data-flows.md
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-connector/src/main/java/org/odpi/openmetadata/governanceservers/dataengineproxy/connectors/DataEngineConnectorBase.java
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-connector/src/main/java/org/odpi/openmetadata/governanceservers/dataengineproxy/connectors/DataEngineInterface.java
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-services-server/README.md
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-services-server/src/main/java/org/odpi/openmetadata/governanceservers/dataengineproxy/processor/DataEngineProxyService.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/LineageSetupService.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/RepositoryService.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/LineageFVT.java
Owners: @popa-raluca, @lcpopa, @cmgrote, @alexandra-bucur

DE OMAS - update Postman collections with DataFlows
  open-metadata-implementation/access-services/data-engine/docs/samples/collections/DataEngine-asset_endpoints.postman_collection.json
  open-metadata-implementation/access-services/data-engine/docs/samples/collections/DataEngine-process_endpoints.postman_collection.json
  open-metadata-implementation/access-services/data-engine/docs/samples/collections/DataEngine-topics-lineage_examples.postman_collection.json
  open-metadata-implementation/access-services/data-engine/docs/samples/collections/DataEngineOMAS-local-graph-integration.postman_collection.json
Owners: @popa-raluca, @lcpopa

OLS - replace LineageMappings with DataFlows
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/graph/LineageGraphQueryService.java
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/graph/LineageJobHelper.java
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/utils/Constants.java
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/utils/EdgeLabelsLineageGraph.java
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/test/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/lineagegraph/LineageGraphQueryServiceTest.java
Owners: @marius-patrascu, @lcpopa

AL OMAS - replace LineageMappings with DataFlows
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-api/docs/events/lineage-event.md
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-api/src/main/java/org/odpi/openmetadata/accessservices/assetlineage/event/AssetLineageEventType.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/main/java/org/odpi/openmetadata/accessservices/assetlineage/handlers/ProcessContextHandler.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/main/java/org/odpi/openmetadata/accessservices/assetlineage/listeners/AssetLineageOMRSTopicListener.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/main/java/org/odpi/openmetadata/accessservices/assetlineage/outtopic/AssetLineagePublisher.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/main/java/org/odpi/openmetadata/accessservices/assetlineage/util/AssetLineageConstants.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/main/java/org/odpi/openmetadata/accessservices/assetlineage/util/AssetLineageTypesValidator.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/test/java/org/odpi/openmetadata/accessservices/assetlineage/handlers/ProcessContextHandlerTest.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/test/java/org/odpi/openmetadata/accessservices/assetlineage/listeners/AssetLineageOMRSTopicListenerTest.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/test/java/org/odpi/openmetadata/accessservices/assetlineage/util/AssetLineageTypesValidatorTest.java
  open-metadata-implementation/governance-servers/open-lineage-services/open-lineage-services-server/src/main/java/org/odpi/openmetadata/governanceservers/openlineage/listeners/OpenLineageInTopicListener.java
Owners: @lcpopa, @popa-raluca, @marius-patrascu

DE OMAS - replace LineageMappings with DataFlows
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineRESTClient.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineSchemaTypeHandler.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineSchemaTypeHandlerTest.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/RepositoryService.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/DataEngineFVT.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/LineageFVT.java
Owners: @popa-raluca, @lcpopa, @alexandra-bucur

DE OMAS - update Postman collections with DataFlows
  open-metadata-implementation/access-services/data-engine/docs/samples/collections/DataEngine-asset_endpoints.postman_collection.json
Owners: @popa-raluca, @lcpopa

OLS - fix path separator
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/graph/LineageGraphQueryHelper.java
Owners: @marius-patrascu, @lcpopa

DE OMAS - update sample events with DataFlows
  open-metadata-implementation/access-services/data-engine/docs/samples/events/DataEngine_upsert_events.txt
Owners: @popa-raluca, @lcpopa

DE OMAS - update documentation model with DataFlows
  open-metadata-implementation/access-services/data-engine/docs/samples/initial-load/data-engine/model/LineageObjects-Conceptual.png
  open-metadata-implementation/access-services/data-engine/docs/samples/initial-load/data-engine/model/file_to_table.png
Owners: @popa-raluca, @lcpopa

Added a new token-based connector + http helper dependency
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/pom.xml
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaServerSecurityConnectorTokenBased.java
Owners: @planetf1, @mandy-chessell

DE OMAS - fix fvt
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/RepositoryService.java
Owners: @alexandra-bucur, @lcpopa

DE OMAS - fix sonar warn
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-services-server/src/main/java/org/odpi/openmetadata/governanceservers/dataengineproxy/processor/DataEngineProxyService.java
Owners: @cmgrote, @popa-raluca

DE OMAS - fix fvt
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/DataEngineFVT.java
Owners: @alexandra-bucur, @lcpopa
