Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

Update build target for artifact generation to build publish
  .github/workflows/merge-v4.yml
Owners: @planetf1

Correct docker latest tag to only operate when branch is main
  .github/workflows/merge-v4.yml
Owners: @planetf1

#7090 fix typo in release.yml
  .github/workflows/release.yml
Owners: @planetf1

Change name of gradle publication + add more exclusions for assembly
  build.gradle
  open-metadata-distribution/open-metadata-assemblies/build.gradle
Owners: @planetf1

#7090 fix more minor naming updates
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

Correct v4 merge build
  .github/workflows/merge-v4.yml
Owners: @planetf1

#7090 specify Java 17 for sonatype lift
  .lift.toml
Owners: none

Add Update hardcoded version strings required to allow containers/api to work correctly
  open-metadata-implementation/platform-services/platform-services-server/src/main/java/org/odpi/openmetadata/platformservices/server/OMAGServerPlatformOriginServices.java
  open-metadata-implementation/server-chassis/server-chassis-spring/src/main/java/org/odpi/openmetadata/serverchassis/springboot/OMAGServerPlatform.java
  open-metadata-resources/open-metadata-deployment/docker/configure/Dockerfile
  open-metadata-resources/open-metadata-deployment/docker/egeria/Dockerfile
Owners: @mandy-chessell, @bogdan-sava, @lpalashevski, @planetf1

Update docker image to UBI9 openjdk17-runtime
  open-metadata-resources/open-metadata-deployment/docker/egeria/Dockerfile
Owners: @planetf1

Update directory for build output in container image
  .github/workflows/merge-v4.yml
Owners: @planetf1

Update gradle dependencies to match maven - correct version drifts
  build.gradle
Owners: @planetf1

Update gradle dependencies to match maven - correct version drifts
  build.gradle
Owners: @planetf1

git7147 correct schema attribute update to pick up datatype
  open-metadata-implementation/access-services/asset-manager/asset-manager-server/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/handlers/SchemaExchangeHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/OpenMetadataAPIGenericHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@4fab6e308add8415d55ee17dead5a741f3211f5b 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

git7147 correct schema attribute update to pick up datatype
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/OpenMetadataAPIGenericHandler.java
Owners: @mandy-chessell

git7147 address review comments
  open-metadata-implementation/access-services/asset-manager/asset-manager-server/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/handlers/SchemaExchangeHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
Owners: @mandy-chessell

git7147 address sonatype
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
Owners: @mandy-chessell

git7147 amend formula logic
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
Owners: @mandy-chessell

git7147 align code
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
Owners: @mandy-chessell

git7147 amend formula processing
  open-metadata-implementation/access-services/asset-manager/asset-manager-server/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/handlers/SchemaExchangeHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeBuilder.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaTypeBuilder.java
Owners: @mandy-chessell

git7147 amend formula processing
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
Owners: @mandy-chessell

git7147 amend javadoc
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaTypeBuilder.java
Owners: @mandy-chessell

git7147 remove extra file
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeBuilder.java
Owners: @mandy-chessell

git7147 remove unneded variables
  open-metadata-implementation/access-services/asset-manager/asset-manager-server/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/handlers/SchemaExchangeHandler.java
Owners: @mandy-chessell

#6849 remove checkboxes from bug/enhancement templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
Owners: @planetf1

Deploying to gh-pages from @ odpi/egeria@24cb018eb9e9a02b1971dea42a4600a58a84a009 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Deploying to gh-pages from @ odpi/egeria@d924e13673156e6b23dae55defc376ce5b07f545 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Deploying to gh-pages from @ odpi/egeria@6c6acace30628ddbdae8f43eb58d6d4079a508ac 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

git7147 fix handle formula in create shema attribute
  open-metadata-implementation/access-services/asset-manager/asset-manager-server/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/handlers/SchemaExchangeHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaTypeBuilder.java
Owners: @mandy-chessell

git7147 fix merge logic for calculated value
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
Owners: @mandy-chessell

git7147 switch order of classification checks
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
Owners: @mandy-chessell

git7227 correct glossarycontext logix
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/main/java/org/odpi/openmetadata/accessservices/assetlineage/handlers/GlossaryContextHandler.java
Owners: @lcpopa, @popa-raluca

Deploying to gh-pages from @ odpi/egeria@e8bb3447350d5ec5ae053463a853a057d4bd68c6 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

git7147 address sonartype null check
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
Owners: @mandy-chessell

add mihai and cleanup contributors
  CONTRIBUTORS.md
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@e8161d203f5eeeee026ee214120d35d56d0fc9ad 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

git7147 address review feedback
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaTypeBuilder.java
Owners: @mandy-chessell

git7147 address review feedback
  open-metadata-implementation/access-services/asset-manager/asset-manager-server/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/handlers/SchemaExchangeHandler.java
Owners: @mandy-chessell

add contributor email
  CONTRIBUTORS.md
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@4141aa79f4784e957eefa5bebee1b316e9c80ef7 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1
