Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1

Added gradle dependencies
  build.gradle
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/build.gradle
Owners: @planetf1

Deploying to gh-pages from @ odpi/egeria@a8160344a65c788d6da7153bb67e263e34a0bc15 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Deploying to gh-pages from @ odpi/egeria@cb529d8b6274fc20e080a39fc1a5d617fa2939ca 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Deploying to gh-pages from @ odpi/egeria@a5c149881383e10ba1be568f8f9a0000ced01ad3 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

OLS - replace LineageMappings with DataFlows
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/graph/LineageGraphQueryService.java
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/graph/LineageJobHelper.java
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/utils/Constants.java
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/utils/EdgeLabelsLineageGraph.java
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/test/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/lineagegraph/LineageGraphQueryServiceTest.java
Owners: @marius-patrascu, @lcpopa

Deploying to gh-pages from @ odpi/egeria@f0c89459ad492b111c7fac47cb7c0d1f4e285f6c 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Enable framework serivces in Asset Manager OMAS
  open-metadata-implementation/access-services/asset-manager/asset-manager-client/build.gradle
  open-metadata-implementation/access-services/asset-manager/asset-manager-client/pom.xml
  open-metadata-implementation/access-services/asset-manager/asset-manager-client/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/client/ConnectedAssetClient.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-client/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/client/OpenMetadataStoreClient.java
  open-metadata-implementation/access-services/community-profile/community-profile-client/src/main/java/org/odpi/openmetadata/accessservices/communityprofile/client/OpenMetadataStoreClient.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-client/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/client/GovernanceEngineClient.java
  open-metadata-implementation/access-services/governance-program/governance-program-client/src/main/java/org/odpi/openmetadata/accessservices/governanceprogram/client/OpenMetadataStoreClient.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-api/src/main/java/org/odpi/openmetadata/commonservices/gaf/rest/DeleteRequestBody.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-api/src/main/java/org/odpi/openmetadata/commonservices/gaf/rest/MetadataSourceRequestBody.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-api/src/main/java/org/odpi/openmetadata/commonservices/gaf/rest/NewClassificationRequestBody.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-api/src/main/java/org/odpi/openmetadata/commonservices/gaf/rest/NewMetadataElementRequestBody.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-api/src/main/java/org/odpi/openmetadata/commonservices/gaf/rest/NewRelatedElementsRequestBody.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-api/src/main/java/org/odpi/openmetadata/commonservices/gaf/rest/UpdateEffectivityDatesRequestBody.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-api/src/main/java/org/odpi/openmetadata/commonservices/gaf/rest/UpdatePropertiesRequestBody.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-api/src/main/java/org/odpi/openmetadata/commonservices/gaf/rest/UpdateRequestBody.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-api/src/main/java/org/odpi/openmetadata/commonservices/gaf/rest/UpdateStatusRequestBody.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-client/src/main/java/org/odpi/openmetadata/commonservices/gaf/client/OpenMetadataStoreClientBase.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/handlers/MetadataElementHandler.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/server/OpenMetadataStoreRESTServices.java
  open-metadata-implementation/integration-services/catalog-integrator/catalog-integrator-api/build.gradle
  open-metadata-implementation/integration-services/catalog-integrator/catalog-integrator-api/pom.xml
  open-metadata-implementation/integration-services/catalog-integrator/catalog-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/catalog/connector/CatalogIntegratorContext.java
  open-metadata-implementation/integration-services/catalog-integrator/catalog-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/catalog/connector/ConnectorFactoryService.java
  open-metadata-implementation/integration-services/catalog-integrator/catalog-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/catalog/connector/OpenMetadataExchangeService.java
  open-metadata-implementation/integration-services/catalog-integrator/catalog-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/catalog/connector/OpenMetadataGovernanceService.java
  open-metadata-implementation/integration-services/catalog-integrator/catalog-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/catalog/contextmanager/CatalogIntegratorContextManager.java
Owners: @planetf1, @mandy-chessell

Extend dependencies
  open-metadata-implementation/access-services/asset-manager/asset-manager-client/build.gradle
Owners: @planetf1

Add more dependencies
  open-metadata-implementation/integration-services/catalog-integrator/catalog-integrator-api/build.gradle
Owners: @planetf1

Add content packs and sample data to distribution
  open-metadata-distribution/open-metadata-assemblies/build.gradle
Owners: @planetf1

Deploying to gh-pages from @ odpi/egeria@014cc56d83cb9832666ce8f156c42dc6b3b677d4 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

git7229
  open-metadata-implementation/admin-services/admin-services-server/src/main/java/org/odpi/openmetadata/adminservices/OMAGServerAdminServices.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/admin/OMRSConfigurationFactory.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@400f94eb9b3f1f9892ec726a8042929d2247faef 🚀
  member-search-index.zip
  org/odpi/openmetadata/repositoryservices/admin/OMRSConfigurationFactory.html
  package-search-index.zip
  type-search-index.zip
Owners: none

Revert "#7254 increase poll retry count for cts"
  open-metadata-conformance-suite/open-metadata-conformance-suite-server/src/main/java/org/odpi/openmetadata/conformance/tests/repository/instances/TestSupportedEntityProxyLifecycle.java
  open-metadata-conformance-suite/open-metadata-conformance-suite-server/src/main/java/org/odpi/openmetadata/conformance/tests/repository/instances/TestSupportedEntityReferenceCopyLifecycle.java
  open-metadata-conformance-suite/open-metadata-conformance-suite-server/src/main/java/org/odpi/openmetadata/conformance/tests/repository/instances/TestSupportedRelationshipReferenceCopyLifecycle.java
Owners: @mandy-chessell, @cmgrote

Deploying to gh-pages from @ odpi/egeria@b16150f391dced327e224d7f766f1c0684c61341 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

DE OMAS - update Postman collections with DataFlows
  open-metadata-implementation/access-services/data-engine/docs/samples/collections/DataEngine-asset_endpoints.postman_collection.json
  open-metadata-implementation/access-services/data-engine/docs/samples/collections/DataEngine-process_endpoints.postman_collection.json
  open-metadata-implementation/access-services/data-engine/docs/samples/collections/DataEngine-topics-lineage_examples.postman_collection.json
  open-metadata-implementation/access-services/data-engine/docs/samples/collections/DataEngineOMAS-local-graph-integration.postman_collection.json
Owners: @popa-raluca, @lcpopa

git7229 revert change
  open-metadata-implementation/admin-services/admin-services-server/src/main/java/org/odpi/openmetadata/adminservices/server/OMAGServerAdminServices.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/admin/OMRSConfigurationFactory.java
Owners: @mandy-chessell

DE OMAS - update Postman collections with DataFlows
  open-metadata-implementation/access-services/data-engine/docs/samples/collections/DataEngine-asset_endpoints.postman_collection.json
Owners: @popa-raluca, @lcpopa

Deploying to gh-pages from @ odpi/egeria@a06a2056b1c6ea93d85ea6cd71fd6be223aaa074 🚀
  member-search-index.zip
  org/odpi/openmetadata/repositoryservices/admin/OMRSConfigurationFactory.html
  package-search-index.zip
  type-search-index.zip
Owners: none

DE OMAS - update sample events with DataFlows
  open-metadata-implementation/access-services/data-engine/docs/samples/events/DataEngine_upsert_events.txt
Owners: @popa-raluca, @lcpopa

OLS - fix path separator
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/graph/LineageGraphQueryHelper.java
Owners: @marius-patrascu, @lcpopa

DE OMAS - update documentation model with DataFlows
  open-metadata-implementation/access-services/data-engine/docs/samples/initial-load/data-engine/model/LineageObjects-Conceptual.png
  open-metadata-implementation/access-services/data-engine/docs/samples/initial-load/data-engine/model/file_to_table.png
Owners: @popa-raluca, @lcpopa

#7309 add support for building lightweight chassis
  open-metadata-implementation/adapters/open-connectors/connector-configuration-factory/build.gradle
  open-metadata-implementation/server-chassis/server-chassis-spring/build.gradle
Owners: @planetf1

Add supplementary properties
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-client/build.gradle
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-client/pom.xml
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-client/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/client/OpenMetadataStoreClient.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-client/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/client/DataAssetExchangeClient.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-client/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/client/OpenMetadataStoreClient.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-server/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/handlers/ExchangeHandlerBase.java
  open-metadata-implementation/access-services/asset-owner/Egeria-asset-owner-omas.postman_collection.json
  open-metadata-implementation/access-services/asset-owner/asset-owner-api/src/main/java/org/odpi/openmetadata/accessservices/assetowner/api/AssetAttachmentManagementInterface.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-api/src/main/java/org/odpi/openmetadata/accessservices/assetowner/api/AssetOnboardingInterface.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-api/src/main/java/org/odpi/openmetadata/accessservices/assetowner/properties/AssetProperties.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-api/src/main/java/org/odpi/openmetadata/accessservices/assetowner/properties/SupplementaryProperties.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-client/build.gradle
  open-metadata-implementation/access-services/asset-owner/asset-owner-client/pom.xml
  open-metadata-implementation/access-services/asset-owner/asset-owner-client/src/main/java/org/odpi/openmetadata/accessservices/assetowner/client/AssetOwner.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-client/src/main/java/org/odpi/openmetadata/accessservices/assetowner/client/OpenMetadataStoreClient.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-server/src/main/java/org/odpi/openmetadata/accessservices/assetowner/server/AssetOwnerRESTServices.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-spring/src/main/java/org/odpi/openmetadata/accessservices/assetowner/server/spring/AssetOwnerResource.java
  open-metadata-implementation/access-services/community-profile/community-profile-client/src/main/java/org/odpi/openmetadata/accessservices/communityprofile/client/OpenMetadataStoreClient.java
  open-metadata-implementation/access-services/digital-service/digital-service-client/src/main/java/org/odpi/openmetadata/accessservices/digitalservice/client/OpenMetadataStoreClient.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-client/src/main/java/org/odpi/openmetadata/commonservices/gaf/client/OpenMetadataStoreClientBase.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-handlers/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/converters/AssetConverter.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/converters/AssetConverter.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/converters/RelatedAssetConverter.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/server/OCFMetadataRESTServices.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/AssetDetail.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/AssetUniverse.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/beans/Asset.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/beans/RelatedAsset.java
  open-metadata-implementation/frameworks/open-connector-framework/src/test/java/org/odpi/openmetadata/frameworks/connectors/properties/TestAssetDetail.java
  open-metadata-implementation/frameworks/open-connector-framework/src/test/java/org/odpi/openmetadata/frameworks/connectors/properties/TestAssetSummary.java
  open-metadata-implementation/frameworks/open-connector-framework/src/test/java/org/odpi/openmetadata/frameworks/connectors/properties/TestAssetUniverse.java
  open-metadata-implementation/frameworks/open-connector-framework/src/test/java/org/odpi/openmetadata/frameworks/connectors/properties/beans/TestAsset.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-owner-fvt/src/main/java/org/odpi/openmetadata/accessservices/assetowner/fvt/assets/CreateAssetTest.java
Owners: @planetf1, @mandy-chessell

DE OMAS - fix javadoc
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/model/DataFlow.java
Owners: @popa-raluca, @lcpopa

DE OMAS - fix fvt
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/DataEngineFVT.java
Owners: @alexandra-bucur, @lcpopa

Deploying to gh-pages from @ odpi/egeria@5568a2c1ee4eae0d55b627fc5f4c5408044e1b33 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Detect deleted entities quicker (#7303)
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/OpenMetadataAPIGenericHandler.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/EnterpriseOMRSMetadataCollection.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/accumulators/ClassificationAccumulator.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/accumulators/EntityDetailAccumulator.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/accumulators/EntitySummaryAccumulator.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/executors/GetEntityDetailExecutor.java
Owners: @mandy-chessell

Fix code warnings and javadoc
  open-metadata-implementation/frameworks/audit-log-framework/src/main/java/org/odpi/openmetadata/frameworks/auditlog/AuditLog.java
  open-metadata-implementation/frameworks/audit-log-framework/src/main/java/org/odpi/openmetadata/frameworks/auditlog/ComponentDescription.java
  open-metadata-implementation/frameworks/audit-log-framework/src/main/java/org/odpi/openmetadata/frameworks/auditlog/ComponentDevelopmentStatus.java
  open-metadata-implementation/frameworks/audit-log-framework/src/main/java/org/odpi/openmetadata/frameworks/auditlog/messagesets/AuditLogMessageDefinition.java
  open-metadata-implementation/frameworks/audit-log-framework/src/main/java/org/odpi/openmetadata/frameworks/auditlog/messagesets/ExceptionMessageDefinition.java
  open-metadata-implementation/frameworks/audit-log-framework/src/main/java/org/odpi/openmetadata/frameworks/auditlog/messagesets/MessageDefinition.java
Owners: @mandy-chessell

Detect deleted relationship as fast as possible
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/EnterpriseOMRSMetadataCollection.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/accumulators/RelationshipsAccumulator.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/executors/GetEntityDetailExecutor.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/executors/GetRelationshipExecutor.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/executors/RepositoryExecutorBase.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@ef42f73a31b35e08e1c32490e521737f0dc8f541 🚀
  allclasses-index.html
  member-search-index.zip
  org/odpi/openmetadata/frameworks/auditlog/ComponentDescription.html
  org/odpi/openmetadata/frameworks/auditlog/messagesets/AuditLogMessageDefinition.html
  org/odpi/openmetadata/frameworks/auditlog/messagesets/MessageDefinition.html
  org/odpi/openmetadata/frameworks/auditlog/package-summary.html
  org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/accumulators/EntityDetailAccumulator.html
  org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/accumulators/RelationshipsAccumulator.html
  org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/executors/GetEntityDetailExecutor.html
  org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/executors/GetRelationshipExecutor.html
  package-search-index.zip
  type-search-index.zip
Owners: none

DE OMAS - fix fvt
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/RepositoryService.java
Owners: @alexandra-bucur, @lcpopa

DE OMAS - fix sonar warn
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-services-server/src/main/java/org/odpi/openmetadata/governanceservers/dataengineproxy/processor/DataEngineProxyService.java
Owners: @cmgrote, @popa-raluca

removed server security token-based sample
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaPlatformSecurityConnectorTokenBased.java
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaServerSecurityConnectorTokenBased.java
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaServerSecurityTokenBasedProvider.java
Owners: @mandy-chessell

Revert end2end lineage
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/api/lineage/OpenLineageController.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@9f17b0f8fd0226f8db37aa3bcff624f464a00a13 🚀
  member-search-index.zip
  org/odpi/openmetadata/repositoryservices/connectors/omrstopic/OMRSTopic.html
  org/odpi/openmetadata/repositoryservices/connectors/omrstopic/OMRSTopicConnector.html
  org/odpi/openmetadata/repositoryservices/connectors/openmetadatatopic/OpenMetadataTopicSenderConnectorBase.html
  package-search-index.zip
  type-search-index.zip
Owners: none

Deploying to gh-pages from @ odpi/egeria@fb7be0523e80a4374226c1c72fd60a9b124a0afe 🚀
  member-search-index.zip
  org/odpi/openmetadata/userinterface/uichassis/springboot/api/lineage/OpenLineageController.html
  package-search-index.zip
  type-search-index.zip
Owners: none

Remove some InstanceType fields to simplify events
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-server/src/main/java/org/odpi/openmetadata/accessservices/assetcatalog/converters/AssetCatalogConverter.java
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-server/src/test/java/org/odpi/openmetadata/accessservices/assetcatalog/handlers/AssetCatalogHandlerTest.java
  open-metadata-implementation/access-services/security-manager/security-manager-server/src/main/java/org/odpi/openmetadata/accessservices/securitymanager/outtopic/SecurityManagerOMRSTopicListener.java
  open-metadata-implementation/access-services/security-officer/security-officer-server/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/server/admin/SecurityOfficerAdmin.java
  open-metadata-implementation/access-services/security-officer/security-officer-server/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/server/handler/SecurityOfficerHandler.java
  open-metadata-implementation/access-services/security-officer/security-officer-server/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/server/processors/SecurityOfficerEventProcessor.java
  open-metadata-implementation/access-services/security-officer/security-officer-server/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/server/publisher/SecurityOfficerPublisher.java
  open-metadata-implementation/access-services/subject-area/subject-area-server/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/utilities/SubjectAreaUtils.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/OpenMetadataAPIGenericConverter.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-handlers/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/converters/ElementHeaderConverter.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-handlers/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/converters/TypeConverter.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceType.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/repositoryconnector/OMRSRepositoryHelper.java
  open-metadata-implementation/repository-services/repository-services-archive-utilities/src/main/java/org/odpi/openmetadata/repositoryservices/archiveutilities/OMRSArchiveHelper.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentHelper.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentManager.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentValidator.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/test/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentManagerTest.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchiveAccessor.java
Owners: @alexandra-bucur, @lcpopa, @mandy-chessell, @davidradl

fixed null pointer exceptions
  open-metadata-implementation/adapters/authentication-plugins/http-helper/src/main/java/org/odpi/openmetadata/http/HttpRequestHeadersFilter.java
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaPlatformSecurityConnectorTokenBased.java
Owners: @mandy-chessell

Minor fix from review
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/omrstopic/OMRSTopicConnector.java
Owners: @mandy-chessell
