Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1

Minor fix from review
  open-metadata-implementation/access-services/security-manager/security-manager-server/src/main/java/org/odpi/openmetadata/accessservices/securitymanager/outtopic/SecurityManagerOMRSTopicListener.java
  open-metadata-implementation/access-services/security-officer/security-officer-server/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/server/handler/SecurityOfficerHandler.java
Owners: @mandy-chessell

override added
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaPlatformSecurityConnectorTokenBased.java
Owners: @mandy-chessell

added jwt payload details
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaPlatformSecurityConnectorTokenBased.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@c39f979ada9a86ecc059850a829411c21e85c237 🚀
  member-search-index.zip
  org/odpi/openmetadata/accessservices/analyticsmodeling/utils/AnalyticsAssetUtils.html
  org/odpi/openmetadata/adapters/connectors/integration/openapis/OpenAPIMonitorIntegrationConnector.html
  package-search-index.zip
  type-search-index.zip
Owners: none

Deploying to gh-pages from @ odpi/egeria@b8c0f652c42e19f1610c13b3c8291c33d7fb0868 🚀
  allclasses-index.html
  allclasses.html
  member-search-index.zip
  org/odpi/openmetadata/frameworks/auditlog/AuditLoggingComponent.html
  org/odpi/openmetadata/metadatasecurity/OpenMetadataPlatformSecurity.html
  org/odpi/openmetadata/metadatasecurity/connectors/OpenMetadataPlatformSecurityConnector.html
  org/odpi/openmetadata/metadatasecurity/connectors/OpenMetadataPlatformSecurityProvider.html
  org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaPlatformSecurityConnectorTokenBased.html
  org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaPlatformSecurityProviderTokenBased.html
  org/odpi/openmetadata/metadatasecurity/samples/package-summary.html
  org/odpi/openmetadata/metadatasecurity/samples/package-tree.html
  overview-tree.html
  package-search-index.zip
  type-search-index.js
  type-search-index.zip
Owners: none

Fix conflict
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/processors/DataEngineEventProcessor.java
Owners: @popa-raluca, @lcpopa

Fix sonatype issue
  open-metadata-implementation/access-services/security-officer/security-officer-server/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/server/handler/SecurityOfficerHandler.java
Owners: @mandy-chessell

git73245 fix generator around maps
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test-generator/src/main/resources/templates/TestOmrsBeanAccessorTemplate
Owners: @planetf1, @davidradl

DE OMAS - fix sonar warn
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineSchemaTypeHandler.java
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-services-server/src/main/java/org/odpi/openmetadata/governanceservers/dataengineproxy/processor/DataEngineProxyService.java
Owners: @popa-raluca, @lcpopa, @cmgrote

Restore gremlin 3.5.2 after dependency merges
  pom.xml
Owners: @planetf1, @mandy-chessell

Revert "Bump mockito.version from 4.11.0 to 5.1.1"
  pom.xml
Owners: @planetf1, @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@68cd9a80d250acc49a4b131abee9156cf41d832f 🚀
  allclasses.html
  index.html
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Update tink version to 1.7.0
  build.gradle
Owners: @planetf1

igned-off-by: Author Name <authoremail@example.com>
  build.gradle
Owners: @planetf1

Deploying to gh-pages from @ odpi/egeria@e46945b0b5bc3193e5f37e05bb64f89b5c4f8b8b 🚀
  allclasses-index.html
  allclasses.html
  constant-values.html
  member-search-index.zip
  org/odpi/openmetadata/accessservices/assetlineage/event/AssetLineageEventType.html
  org/odpi/openmetadata/accessservices/assetlineage/outtopic/AssetLineagePublisher.html
  org/odpi/openmetadata/accessservices/assetlineage/util/AssetLineageConstants.html
  org/odpi/openmetadata/accessservices/dataengine/client/DataEngineClient.html
  org/odpi/openmetadata/accessservices/dataengine/client/DataEngineEventClient.html
  org/odpi/openmetadata/accessservices/dataengine/client/DataEngineRESTClient.html
  org/odpi/openmetadata/accessservices/dataengine/client/DataEngineRESTConfigurationClient.html
  org/odpi/openmetadata/accessservices/dataengine/event/DataEngineEventHeader.html
  org/odpi/openmetadata/accessservices/dataengine/event/DataEngineEventType.html
  org/odpi/openmetadata/accessservices/dataengine/event/DataFlowsEvent.html
  org/odpi/openmetadata/accessservices/dataengine/event/package-summary.html
  org/odpi/openmetadata/accessservices/dataengine/event/package-tree.html
  org/odpi/openmetadata/accessservices/dataengine/model/DataFlow.html
  org/odpi/openmetadata/accessservices/dataengine/model/DeleteSemantic.html
  org/odpi/openmetadata/accessservices/dataengine/model/Process.html
  org/odpi/openmetadata/accessservices/dataengine/model/package-summary.html
  org/odpi/openmetadata/accessservices/dataengine/model/package-tree.html
  org/odpi/openmetadata/accessservices/dataengine/rest/DataEngineOMASAPIRequestBody.html
  org/odpi/openmetadata/accessservices/dataengine/rest/DataFlowsRequestBody.html
  org/odpi/openmetadata/accessservices/dataengine/rest/package-summary.html
  org/odpi/openmetadata/accessservices/dataengine/rest/package-tree.html
  org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineSchemaTypeHandler.html
  org/odpi/openmetadata/accessservices/dataengine/server/processors/DataEngineEventProcessor.html
  org/odpi/openmetadata/accessservices/dataengine/server/service/DataEngineRESTServices.html
  org/odpi/openmetadata/accessservices/dataengine/server/spring/DataEngineResource.html
  org/odpi/openmetadata/governanceservers/dataengineproxy/connectors/DataEngineConnectorBase.html
  org/odpi/openmetadata/governanceservers/dataengineproxy/connectors/DataEngineInterface.html
  org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/graph/LineageGraphQueryService.html
  org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/utils/Constants.html
  org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/utils/EdgeLabelsLineageGraph.html
  overview-tree.html
  package-search-index.zip
  serialized-form.html
  type-search-index.js
  type-search-index.zip
Owners: none

signed-off-by: Shrinivas Kane <kanes@us.ibm.com> Bump think version to 1.7
  build.gradle
Owners: @planetf1

signed-off-by: Shrinivas Kane <kanes@us.ibm.com> Bump think version to 1.7
  pom.xml
Owners: @planetf1, @mandy-chessell

signed-off-by: Shrinivas Kane <kanes@us.ibm.com> Bump think version to 1.7
  pom.xml
Owners: @planetf1, @mandy-chessell

signed-off-by: Shrinivas Kane <kanes@us.ibm.com> Bump think version to 1.7
  build.gradle
Owners: @planetf1

Deploying to gh-pages from @ odpi/egeria@977861403644f5bae28656ce8b643da292c87df5 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Remove propertyNames and propertyCount from InstanceProperties
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceProperties.java
Owners: @mandy-chessell

Format according to package specifics
  open-metadata-implementation/access-services/security-manager/security-manager-server/src/main/java/org/odpi/openmetadata/accessservices/securitymanager/outtopic/SecurityManagerOMRSTopicListener.java
  open-metadata-implementation/access-services/security-officer/security-officer-server/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/server/admin/SecurityOfficerAdmin.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentHelper.java
Owners: @mandy-chessell

#7090 specify Java 17 for sonatype lift
  .lift.toml
Owners: none

Correct path used to source distribution package for docker image content
  .github/workflows/merge-v4.yml
Owners: @planetf1

Update build target for artifact generation to build publish
  .github/workflows/merge-v4.yml
Owners: @planetf1

Correct docker latest tag to only operate when branch is main
  .github/workflows/merge-v4.yml
Owners: @planetf1

Correct syntax error in lift configuration
  .lift.toml
Owners: none

#7090 disable existing builds from version 0-3
  .github/workflows/merge-gradle.yml
  .github/workflows/merge-maven.yml
  .github/workflows/pr-codeql.yml
  .github/workflows/pr-gradle.yml
  .github/workflows/pr-maven-latest.yml
  .github/workflows/pr-maven-prod.yml
  .github/workflows/release.yml
Owners: @planetf1

#7090 use official gradle build action
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

Add #7090 Update to Java 17 language/class level
  build.gradle
Owners: @planetf1

#7090 fix more minor naming updates
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

PR build should publish to maven local to get best build test for PR
  .github/workflows/pr-v4.yml
Owners: @planetf1

#7090 Add new v4 actions for pr - gradle/codeql
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

Correct v4 merge build
  .github/workflows/merge-v4.yml
Owners: @planetf1

Add v4 build function for docker, publishing
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

Change name of gradle publication + add more exclusions for assembly
  build.gradle
  open-metadata-distribution/open-metadata-assemblies/build.gradle
Owners: @planetf1

#7090 add unique names for v4 build
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

#7090 fix typo in release.yml
  .github/workflows/release.yml
Owners: @planetf1

#7090 Update to Java 17
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

Add Update hardcoded version strings required to allow containers/api to work correctly
  open-metadata-implementation/platform-services/platform-services-server/src/main/java/org/odpi/openmetadata/platformservices/server/OMAGServerPlatformOriginServices.java
  open-metadata-implementation/server-chassis/server-chassis-spring/src/main/java/org/odpi/openmetadata/serverchassis/springboot/OMAGServerPlatform.java
  open-metadata-resources/open-metadata-deployment/docker/configure/Dockerfile
  open-metadata-resources/open-metadata-deployment/docker/egeria/Dockerfile
Owners: @mandy-chessell, @bogdan-sava, @lpalashevski, @planetf1
