Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

Correct syntax error in lift configuration
  .lift.toml
Owners: none

#7330 Additional updates to workflows for v4 switchover
  .azure-pipelines/nexus-iq-clm.yml
  .azure-pipelines/sonar.yml
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-gradle.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-codeql.yml
  .github/workflows/pr-gradle.yml
  .github/workflows/pr-maven-latest.yml
  .github/workflows/pr-maven-prod.yml
  .github/workflows/pr-v4.yml
  .github/workflows/release-v4.yml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  pom.xml
Owners: @planetf1, @mandy-chessell

Version 4 types
  open-metadata-implementation/adapters/open-connectors/rest-client-connectors/rest-client-connectors-api/src/main/java/org/odpi/openmetadata/adapters/connectors/restclients/ffdc/RESTClientConnectorErrorCode.java
  open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/src/main/java/org/odpi/openmetadata/adapters/connectors/restclients/spring/SpringRESTClientConnector.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/utilities/OMRSRepositoryPropertiesUtilities.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchive.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchive1_2.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchive3_15.java
  open-metadata-test/open-metadata-fvt/fvt-utilities/src/main/java/org/odpi/openmetadata/fvt/utilities/auditlog/FVTAuditLogDestination.java
Owners: @mandy-chessell, @planetf1

#7330 updates to gradle properties
  gradle.properties
Owners: @planetf1

#7330 Disable caching for codeQL workflow as full before/after comparison needed
  .github/workflows/codeql-v4.yml
Owners: @planetf1

#7330 fix dup glossary-author-fvt artifact reference in settings.gradle
  settings.gradle
Owners: @planetf1

#7330 stop on any gradle deprecation warnings to prevent accidental usage regressions
  gradle.properties
Owners: @planetf1

#7330 remove spotbugs config - no longer used
  spotbugs-security-exclude.xml
  spotbugs-security-include.xml
Owners: @planetf1

#7330 remove additional files no longer matching build pipelines
  Gemfile
  _config.yml
Owners: none

#7403 Fix packaging of ui server chassis
  open-metadata-distribution/open-metadata-assemblies/build.gradle
Owners: @planetf1

Add new helper classes to archive builder
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/server/OpenMetadataStoreRESTServices.java
  open-metadata-resources/open-metadata-archives/content-pack-helpers/src/main/java/org/odpi/openmetadata/samples/archiveutilities/GovernanceArchiveHelper.java
  open-metadata-resources/open-metadata-archives/content-pack-helpers/src/main/java/org/odpi/openmetadata/samples/archiveutilities/SimpleCatalogArchiveHelper.java
Owners: @mandy-chessell

Separate anchorGUID setting from parent set
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ValidValuesHandler.java
  open-metadata-implementation/framework-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/server/OpenMetadataStoreRESTServices.java
Owners: @mandy-chessell

Remove some InstanceType fields to simplify events
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-server/src/main/java/org/odpi/openmetadata/accessservices/assetcatalog/converters/AssetCatalogConverter.java
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-server/src/test/java/org/odpi/openmetadata/accessservices/assetcatalog/handlers/AssetCatalogHandlerTest.java
  open-metadata-implementation/access-services/security-manager/security-manager-server/src/main/java/org/odpi/openmetadata/accessservices/securitymanager/outtopic/SecurityManagerOMRSTopicListener.java
  open-metadata-implementation/access-services/security-officer/security-officer-server/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/server/admin/SecurityOfficerAdmin.java
  open-metadata-implementation/access-services/security-officer/security-officer-server/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/server/handler/SecurityOfficerHandler.java
  open-metadata-implementation/access-services/security-officer/security-officer-server/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/server/processors/SecurityOfficerEventProcessor.java
  open-metadata-implementation/access-services/subject-area/subject-area-server/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/utilities/SubjectAreaUtils.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/OpenMetadataAPIGenericConverter.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-handlers/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/converters/ElementHeaderConverter.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-handlers/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/converters/TypeConverter.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceType.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/repositoryconnector/OMRSRepositoryHelper.java
  open-metadata-implementation/repository-services/repository-services-archive-utilities/src/main/java/org/odpi/openmetadata/repositoryservices/archiveutilities/OMRSArchiveHelper.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentHelper.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentManager.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentValidator.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/test/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentManagerTest.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchiveAccessor.java
Owners: @alexandra-bucur, @lcpopa, @mandy-chessell, @davidradl

Fix sonatype issue
  open-metadata-implementation/access-services/security-officer/security-officer-server/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/server/handler/SecurityOfficerHandler.java
Owners: @mandy-chessell

Minor fix from review
  open-metadata-implementation/access-services/security-manager/security-manager-server/src/main/java/org/odpi/openmetadata/accessservices/securitymanager/outtopic/SecurityManagerOMRSTopicListener.java
  open-metadata-implementation/access-services/security-officer/security-officer-server/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/server/handler/SecurityOfficerHandler.java
Owners: @mandy-chessell

Format according to package specifics
  open-metadata-implementation/access-services/security-manager/security-manager-server/src/main/java/org/odpi/openmetadata/accessservices/securitymanager/outtopic/SecurityManagerOMRSTopicListener.java
  open-metadata-implementation/access-services/security-officer/security-officer-server/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/server/admin/SecurityOfficerAdmin.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentHelper.java
Owners: @mandy-chessell

update spring.version for maven
  pom.xml
Owners: @planetf1, @mandy-chessell

Remove propertyNames and propertyCount from InstanceProperties
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceProperties.java
Owners: @mandy-chessell

remove unused imports
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/auth/SecurityConfig.java
Owners: @mandy-chessell

remove update spring-security
  pom.xml
Owners: @planetf1, @mandy-chessell

update maven dependencies
  pom.xml
Owners: @planetf1, @mandy-chessell

remove unused dependency
  open-metadata-implementation/server-chassis/server-chassis-spring/pom.xml
Owners: @planetf1, @mandy-chessell

add license
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/api/AuthController.java
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/auth/KeyPairGeneratorUtils.java
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/auth/model/LoginRequest.java
Owners: @mandy-chessell

update maven compiler source and target
  pom.xml
Owners: @planetf1, @mandy-chessell

update pom.xml
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/pom.xml
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/pom.xml
  pom.xml
Owners: @planetf1, @mandy-chessell

Asset Manager OMAS - fix for creating LineageMapping instead of ProcessCall
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ProcessHandler.java
Owners: @mandy-chessell

update logback version for gradle
  build.gradle
Owners: @planetf1

change jackson dependencies scope
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/build.gradle
Owners: @planetf1

removed io.jsonwebtoken dependency
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaPlatformSecurityConnectorTokenBased.java
Owners: @mandy-chessell

fix javadoc
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/auth/SecurityConfig.java
Owners: @mandy-chessell

remove unnecessary exclusions
  build.gradle
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/build.gradle
Owners: @planetf1

reduce the number of dataflow paths reported in the SARIF output
  .github/workflows/codeql-v4.yml
Owners: @planetf1

added names
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/resources/application.properties
Owners: @mandy-chessell

Bump tink from 1.7.0 to 1.8.0
  build.gradle
Owners: @planetf1

Ensure google repo available for updated tink libraries
  build.gradle
Owners: @planetf1

Adjust values for coco-pharma roles
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/resources/application.properties
Owners: @mandy-chessell

Update gradle to 8.0.1
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  open-metadata-implementation/server-chassis/server-chassis-spring/build.gradle
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/build.gradle
Owners: @planetf1

Fix capability conflicts - json processing & logging
  build.gradle
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/build.gradle
  open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/build.gradle
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/build.gradle
Owners: @planetf1

Remove test configuration as immutable
  build.gradle
Owners: @planetf1

add more views
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/resources/application.properties
Owners: @mandy-chessell

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1
