Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1

git7234 increase scope for unique properties check
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/OpenMetadataAPIGenericHandler.java
Owners: @mandy-chessell

git7147 address review feedback
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
Owners: @mandy-chessell

git7147 address review feedback
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaTypeBuilder.java
Owners: @mandy-chessell

git7147 address review feedback
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaTypeBuilder.java
Owners: @mandy-chessell

Remove support for supplementary properties from SchemaElements (#3562, #7230)
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/properties/ComplexSchemaTypeProperties.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/properties/EnumSchemaTypeProperties.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/properties/ExternalSchemaTypeProperties.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/properties/LiteralSchemaTypeProperties.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/properties/MapSchemaTypeProperties.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/properties/PrimitiveSchemaTypeProperties.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/properties/SchemaAttributeProperties.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/properties/SchemaProperties.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/properties/SchemaTypeChoiceProperties.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/properties/SchemaTypeProperties.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/properties/SimpleSchemaTypeProperties.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-server/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/converters/SchemaAttributeConverter.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-server/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/converters/SchemaTypeConverter.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-server/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/handlers/SchemaExchangeHandler.java
Owners: @mandy-chessell

git7147 address review feedback
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeBuilder.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaTypeBuilder.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@09da8cc47ec010217e3ad336602f5c4802c4d0df 🚀
  member-search-index.zip
  org/odpi/openmetadata/accessservices/assetmanager/properties/ComplexSchemaTypeProperties.html
  org/odpi/openmetadata/accessservices/assetmanager/properties/EnumSchemaTypeProperties.html
  org/odpi/openmetadata/accessservices/assetmanager/properties/ExternalSchemaTypeProperties.html
  org/odpi/openmetadata/accessservices/assetmanager/properties/LiteralSchemaTypeProperties.html
  org/odpi/openmetadata/accessservices/assetmanager/properties/MapSchemaTypeProperties.html
  org/odpi/openmetadata/accessservices/assetmanager/properties/PrimitiveSchemaTypeProperties.html
  org/odpi/openmetadata/accessservices/assetmanager/properties/ReferenceableProperties.html
  org/odpi/openmetadata/accessservices/assetmanager/properties/SchemaAttributeProperties.html
  org/odpi/openmetadata/accessservices/assetmanager/properties/SchemaProperties.html
  org/odpi/openmetadata/accessservices/assetmanager/properties/SchemaTypeChoiceProperties.html
  org/odpi/openmetadata/accessservices/assetmanager/properties/SchemaTypeProperties.html
  org/odpi/openmetadata/accessservices/assetmanager/properties/SimpleSchemaTypeProperties.html
  org/odpi/openmetadata/accessservices/assetmanager/properties/SupplementaryProperties.html
  org/odpi/openmetadata/accessservices/assetmanager/properties/package-tree.html
  overview-tree.html
  package-search-index.zip
  serialized-form.html
  type-search-index.zip
Owners: none

Change end2end endpoint in UI Chassis to end-to-end
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/api/lineage/OpenLineageController.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@52011a2598043c2ff3a9b73f01f1890ec09501cd 🚀
  member-search-index.zip
  org/odpi/openmetadata/userinterface/uichassis/springboot/api/lineage/OpenLineageController.html
  package-search-index.zip
  type-search-index.zip
Owners: none

Change logging for end2end endpoint in UI Chassis to end-to-end
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/service/OpenLineageService.java
Owners: @mandy-chessell

Asset Catalog exact-match filter fix
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-server/src/main/java/org/odpi/openmetadata/accessservices/assetcatalog/handlers/AssetCatalogHandler.java
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-server/src/test/java/org/odpi/openmetadata/accessservices/assetcatalog/handlers/AssetCatalogHandlerTest.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/APIParameterListHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ActorProfileHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/AssetHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ConnectionHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ConnectorTypeHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/EndpointHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ExternalIdentifierHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/GovernanceActionHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/OpenMetadataAPIGenericHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ReferenceableHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaTypeHandler.java
Owners: @alexandra-bucur, @lcpopa, @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@88c30138f3ef9dc7bc95759a1d4cbe1378658493 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

git7147 address feedback
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/OpenMetadataAPIGenericHandler.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@10be77e5787562c364d88addeaca69c51572a830 🚀
  member-search-index.zip
  org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.html
  org/odpi/openmetadata/commonservices/generichandlers/SchemaTypeBuilder.html
  package-search-index.zip
  type-search-index.zip
Owners: none

Asset Catalog exact-match filter fix
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-server/src/main/java/org/odpi/openmetadata/accessservices/assetcatalog/handlers/AssetCatalogHandler.java
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-server/src/test/java/org/odpi/openmetadata/accessservices/assetcatalog/handlers/AssetCatalogHandlerTest.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/APIParameterListHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ActorProfileHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/AssetHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ConnectionHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ConnectorTypeHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/EndpointHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ExternalIdentifierHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/GovernanceActionHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/OpenMetadataAPIGenericHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ReferenceableHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaAttributeHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/SchemaTypeHandler.java
Owners: @alexandra-bucur, @lcpopa, @mandy-chessell

Use 'assetLineageTopicConnectionOverride' to update the topic connection
  open-metadata-implementation/governance-servers/open-lineage-services/docs/configuration/README.md
  open-metadata-implementation/governance-servers/open-lineage-services/open-lineage-services-server/src/main/java/org/odpi/openmetadata/governanceservers/openlineage/admin/OpenLineageServerOperationalServices.java
Owners: @marius-patrascu, @popa-raluca

OLS - Use 'inTopicConnection' to update the topic connection of AL OMAS
  open-metadata-implementation/admin-services/admin-services-api/src/main/java/org/odpi/openmetadata/adminservices/configuration/properties/OpenLineageServerConfig.java
  open-metadata-implementation/governance-servers/open-lineage-services/docs/configuration/README.md
  open-metadata-implementation/governance-servers/open-lineage-services/open-lineage-services-server/src/main/java/org/odpi/openmetadata/governanceservers/openlineage/admin/OpenLineageServerOperationalServices.java
Owners: @mandy-chessell, @marius-patrascu, @popa-raluca

OLS - Update doc & java doc
  open-metadata-implementation/admin-services/admin-services-api/src/main/java/org/odpi/openmetadata/adminservices/configuration/properties/OpenLineageServerConfig.java
  open-metadata-implementation/governance-servers/open-lineage-services/docs/configuration/README.md
Owners: @mandy-chessell, @marius-patrascu, @popa-raluca

Only set qualifiedName if not null
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/EntityProxy.java
Owners: @mandy-chessell

Fix NPE on dereference of uniqueProperties
  open-metadata-implementation/access-services/subject-area/subject-area-server/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/server/mappers/relationships/RelationshipMapper.java
Owners: @davidradl

Set headerVersion
  open-metadata-implementation/access-services/governance-engine/governance-engine-server/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/handlers/MetadataElementHandler.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-archive-connectors/open-metadata-archive-directory-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/archiveconnector/directory/DirectoryBasedOpenMetadataArchiveStoreConnector.java
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/handlers/MetadataElementHandler.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/RepositoryElementHeader.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ArrayPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ClassificationEntityExtension.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/EnumPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceAuditHeader.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceElementHeader.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceGraph.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceProperties.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstancePropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceType.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/MapPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/PrimitivePropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/StructPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/TypeDefGallery.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/utilities/OMRSRepositoryPropertiesUtilities.java
  open-metadata-implementation/repository-services/repository-services-apis/src/test/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ClassificationEntityExtensionTest.java
  open-metadata-implementation/repository-services/repository-services-archive-utilities/src/main/java/org/odpi/openmetadata/repositoryservices/archiveutilities/OMRSArchiveHelper.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentManager.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchiveAccessor.java
Owners: @mandy-chessell

Remove unnecessary import
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceElementHeader.java
Owners: @mandy-chessell

Fix NPE on dereference of uniqueProperties
  open-metadata-implementation/access-services/subject-area/subject-area-server/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/server/mappers/relationships/RelationshipMapper.java
Owners: @davidradl

Only set qualifiedName if not null
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/EntityProxy.java
Owners: @mandy-chessell

Set headerVersion
  open-metadata-implementation/access-services/governance-engine/governance-engine-server/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/handlers/MetadataElementHandler.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-archive-connectors/open-metadata-archive-directory-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/archiveconnector/directory/DirectoryBasedOpenMetadataArchiveStoreConnector.java
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/handlers/MetadataElementHandler.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/RepositoryElementHeader.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ArrayPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ClassificationEntityExtension.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/EnumPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceAuditHeader.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceElementHeader.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceGraph.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceProperties.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstancePropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceType.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/MapPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/PrimitivePropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/StructPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/TypeDefGallery.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/utilities/OMRSRepositoryPropertiesUtilities.java
  open-metadata-implementation/repository-services/repository-services-apis/src/test/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ClassificationEntityExtensionTest.java
  open-metadata-implementation/repository-services/repository-services-archive-utilities/src/main/java/org/odpi/openmetadata/repositoryservices/archiveutilities/OMRSArchiveHelper.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentManager.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchiveAccessor.java
Owners: @mandy-chessell

Fix Maven build
  open-metadata-implementation/access-services/data-engine/data-engine-server/pom.xml
  open-metadata-implementation/governance-servers/open-lineage-services/open-lineage-services-server/pom.xml
Owners: @planetf1, @mandy-chessell

Only set qualifiedName if not null
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/EntityProxy.java
Owners: @mandy-chessell

Fix NPE on dereference of uniqueProperties
  open-metadata-implementation/access-services/subject-area/subject-area-server/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/server/mappers/relationships/RelationshipMapper.java
Owners: @davidradl

Set headerVersion
  open-metadata-implementation/access-services/governance-engine/governance-engine-server/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/handlers/MetadataElementHandler.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-archive-connectors/open-metadata-archive-directory-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/archiveconnector/directory/DirectoryBasedOpenMetadataArchiveStoreConnector.java
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/handlers/MetadataElementHandler.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/RepositoryElementHeader.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ArrayPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ClassificationEntityExtension.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/EnumPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceAuditHeader.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceElementHeader.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceGraph.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceProperties.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstancePropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceType.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/MapPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/PrimitivePropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/StructPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/TypeDefGallery.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/utilities/OMRSRepositoryPropertiesUtilities.java
  open-metadata-implementation/repository-services/repository-services-apis/src/test/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ClassificationEntityExtensionTest.java
  open-metadata-implementation/repository-services/repository-services-archive-utilities/src/main/java/org/odpi/openmetadata/repositoryservices/archiveutilities/OMRSArchiveHelper.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentManager.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchiveAccessor.java
Owners: @mandy-chessell

OLS - return inTopicConnection if not null before retrieving the connection
  open-metadata-implementation/governance-servers/open-lineage-services/open-lineage-services-server/src/main/java/org/odpi/openmetadata/governanceservers/openlineage/admin/OpenLineageServerOperationalServices.java
Owners: @marius-patrascu, @popa-raluca

Update charset
  open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/src/main/java/org/odpi/openmetadata/accessservices/analyticsmodeling/fvt/synchronization/SynchronizationTest.java
Owners: @mandy-chessell

Update charset
  open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/src/main/java/org/odpi/openmetadata/accessservices/analyticsmodeling/fvt/synchronization/SynchronizationTest.java
Owners: @mandy-chessell

Normalize filepath
  open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/src/main/java/org/odpi/openmetadata/accessservices/analyticsmodeling/fvt/synchronization/SynchronizationTest.java
Owners: @mandy-chessell

#7254 increase poll retry count for cts
  open-metadata-conformance-suite/open-metadata-conformance-suite-server/src/main/java/org/odpi/openmetadata/conformance/tests/repository/instances/TestSupportedEntityProxyLifecycle.java
  open-metadata-conformance-suite/open-metadata-conformance-suite-server/src/main/java/org/odpi/openmetadata/conformance/tests/repository/instances/TestSupportedEntityReferenceCopyLifecycle.java
  open-metadata-conformance-suite/open-metadata-conformance-suite-server/src/main/java/org/odpi/openmetadata/conformance/tests/repository/instances/TestSupportedRelationshipReferenceCopyLifecycle.java
Owners: @mandy-chessell, @cmgrote

Deploying to gh-pages from @ odpi/egeria@cd468e74cc5784642d7ef49d84ceafbc8120180b 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Revert "Set headerVersion"
  open-metadata-implementation/access-services/governance-engine/governance-engine-server/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/handlers/MetadataElementHandler.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-archive-connectors/open-metadata-archive-directory-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/archiveconnector/directory/DirectoryBasedOpenMetadataArchiveStoreConnector.java
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/handlers/MetadataElementHandler.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/RepositoryElementHeader.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ArrayPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ClassificationEntityExtension.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/EnumPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceAuditHeader.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceElementHeader.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceGraph.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceProperties.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstancePropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceType.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/MapPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/PrimitivePropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/StructPropertyValue.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/TypeDefGallery.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/utilities/OMRSRepositoryPropertiesUtilities.java
  open-metadata-implementation/repository-services/repository-services-apis/src/test/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ClassificationEntityExtensionTest.java
  open-metadata-implementation/repository-services/repository-services-archive-utilities/src/main/java/org/odpi/openmetadata/repositoryservices/archiveutilities/OMRSArchiveHelper.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentManager.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchiveAccessor.java
Owners: @mandy-chessell

update org.testng:testng 7.5 to 7.7.0
  pom.xml
Owners: @planetf1, @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@249eddb1412608bddfd596e99856c4e415589df7 🚀
  member-search-index.zip
  org/odpi/openmetadata/adminservices/configuration/properties/OpenLineageServerConfig.html
  package-search-index.zip
  serialized-form.html
  type-search-index.zip
Owners: none

Fix sonar issue
  open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/src/main/java/org/odpi/openmetadata/accessservices/analyticsmodeling/fvt/synchronization/SynchronizationTest.java
Owners: @mandy-chessell

Add dependency to build + fix FVT
  open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/build.gradle
  open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/pom.xml
  open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/src/main/java/org/odpi/openmetadata/accessservices/analyticsmodeling/fvt/synchronization/SynchronizationTest.java
Owners: @planetf1, @mandy-chessell
