Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1

#7374 further fixes to open types FVT test
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test/build.gradle
Owners: @planetf1

#7374 fix execution of open types test
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/build.gradle
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test/build.gradle
Owners: @planetf1

#7374 further fixes to open types FVT test
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test-generator/build.gradle
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test/build.gradle
Owners: @planetf1

git73245 fix generator around maps
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test-generator/src/main/resources/templates/TestOmrsBeanAccessorTemplate
Owners: @planetf1, @davidradl

#7374 Ensure open types test dependent on build of test code
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test/build.gradle
Owners: @planetf1

#7374 ensure open types tests are built
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test-generator/build.gradle
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test/build.gradle
  settings.gradle
Owners: @planetf1

Z#7374 Use official build action
  .github/workflows/pr-v4.yml
Owners: @planetf1

git7324 amend the open types tests to allow them to work
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test-generator/src/main/java/org/odpi/openmetadata/fvt/opentypes/generators/OmrsBeanGenerator.java
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test-generator/src/main/java/org/odpi/openmetadata/fvt/opentypes/model/OmrsBeanModel.java
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test-generator/src/main/resources/templates/OmrsBeanEntityTemplate
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test-generator/src/main/resources/templates/OmrsBeanRelationshipTemplate
Owners: @planetf1, @davidradl

#7324 skip javadoc (long!) for auto generated tests
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test/build.gradle
Owners: @planetf1

#7324 fix typo in pr build
  .github/workflows/pr-v4.yml
Owners: @planetf1

Remove unused import and use single class imports
  open-metadata-implementation/adapters/open-connectors/connector-configuration-factory/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/ConnectorConfigurationFactory.java
Owners: @mandy-chessell

Remove unused import and use single class imports
  open-metadata-implementation/adapters/open-connectors/connector-configuration-factory/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/ConnectorConfigurationFactory.java
Owners: @mandy-chessell

Use stable docker tag for releases
  .github/workflows/release-v4.yml
Owners: @planetf1

Fix #6992 Add SPDX checking for copyright/license (java)
  build.gradle
  config/checkstyle/checkstyle.xml
  config/checkstyle/java.header
Owners: @planetf1

#6992 Add missing license statements
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-api/src/main/java/org/odpi/openmetadata/accessservices/assetcatalog/model/AssetCatalogBean.java
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-api/src/main/java/org/odpi/openmetadata/accessservices/assetcatalog/model/Classification.java
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-api/src/main/java/org/odpi/openmetadata/accessservices/assetcatalog/model/rest/responses/AssetCatalogListResponse.java
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-api/src/main/java/org/odpi/openmetadata/accessservices/assetcatalog/model/rest/responses/RelationshipResponse.java
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-client/src/main/java/org/odpi/openmetadata/accessservices/assetcatalog/AssetCatalogInterface.java
  open-metadata-implementation/access-services/data-manager/data-manager-api/src/main/java/org/odpi/openmetadata/accessservices/datamanager/ffdc/package-info.java
  open-metadata-implementation/access-services/digital-service/digital-service-api/src/main/java/org/odpi/openmetadata/accessservices/digitalservice/ffdc/package-info.java
  open-metadata-implementation/access-services/stewardship-action/stewardship-action-api/src/main/java/org/odpi/openmetadata/accessservices/stewardshipaction/api/StewardshipActionInterface.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/events/GlossaryArtifactsType.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/events/SubjectAreaEventType.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/properties/classifications/Classification.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/properties/objects/graph/Graph.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/properties/objects/graph/Node.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/properties/objects/graph/Relationship.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/properties/objects/nodesummary/CategorySummary.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/properties/objects/nodesummary/GlossarySummary.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/properties/objects/nodesummary/IconSummary.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/properties/objects/nodesummary/TaxonomySummary.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/properties/objects/nodesummary/TermSummary.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/properties/objects/term/Term.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/validators/InputValidator.java
  open-metadata-implementation/access-services/subject-area/subject-area-server/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/handlers/SubjectAreaConfigHandler.java
  open-metadata-implementation/access-services/subject-area/subject-area-server/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/handlers/SubjectAreaTermHandler.java
  open-metadata-implementation/frameworks/governance-action-framework/src/main/java/org/odpi/openmetadata/frameworks/governanceaction/ffdc/GAFErrorCode.java
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-services-server/src/main/java/org/odpi/openmetadata/governanceservers/dataengineproxy/auditlog/DataEngineProxyException.java
  open-metadata-implementation/governance-servers/open-lineage-services/open-lineage-services-api/src/main/java/org/odpi/openmetadata/governanceservers/openlineage/ffdc/OpenLineageException.java
  open-metadata-implementation/view-services/dino-view/dino-view-spring/src/main/java/org/odpi/openmetadata/viewservices/dino/server/spring/DinoViewRESTResource.java
  open-metadata-implementation/view-services/glossary-author-view/glossary-author-view-server/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/properties/BreadCrumbTrail.java
  open-metadata-implementation/view-services/glossary-author-view/glossary-author-view-server/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/services/GlossaryAuthorViewCategoryRESTServices.java
  open-metadata-implementation/view-services/glossary-author-view/glossary-author-view-spring/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/server/GlossaryAuthorViewCategoryRESTResource.java
  open-metadata-implementation/view-services/rex-view/rex-view-server/src/main/java/org/odpi/openmetadata/viewservices/rex/server/RexViewRESTServices.java
  open-metadata-implementation/view-services/tex-view/tex-view-server/src/main/java/org/odpi/openmetadata/viewservices/tex/server/TexViewRESTServices.java
  open-metadata-implementation/view-services/tex-view/tex-view-spring/src/main/java/org/odpi/openmetadata/viewservices/tex/server/spring/TexViewRESTResource.java
  open-metadata-test/open-metadata-fvt/open-types-fvt/open-types-test-generator/src/main/java/org/odpi/openmetadata/fvt/opentypes/common/ClassificationBean.java
Owners: @alexandra-bucur, @lcpopa, @mandy-chessell, @davidradl, @cmgrote, @popa-raluca, @marius-patrascu, @planetf1

#6992 Fix incorrect use of SPDX-Certification-Identifier
  open-metadata-implementation/access-services/asset-owner/asset-owner-api/src/main/java/org/odpi/openmetadata/accessservices/assetowner/metadataelements/CertificationElement.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-client/src/main/java/org/odpi/openmetadata/accessservices/assetowner/client/AssetCertificationManager.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-server/src/main/java/org/odpi/openmetadata/accessservices/assetowner/server/CertificationRESTServices.java
  open-metadata-implementation/access-services/governance-program/governance-program-api/src/main/java/org/odpi/openmetadata/accessservices/governanceprogram/metadataelements/CertificationElement.java
  open-metadata-implementation/access-services/governance-program/governance-program-client/src/main/java/org/odpi/openmetadata/accessservices/governanceprogram/client/CertificationManager.java
  open-metadata-implementation/access-services/governance-program/governance-program-server/src/main/java/org/odpi/openmetadata/accessservices/governanceprogram/server/CertificationRESTServices.java
Owners: @mandy-chessell

#6992 Allow copyright/license checks to work with multiline comments
  config/checkstyle/checkstyle.xml
Owners: none

#6992 Fix remaining check violations
  open-metadata-implementation/access-services/asset-owner/asset-owner-api/src/main/java/org/odpi/openmetadata/accessservices/assetowner/metadataelements/CertificationElement.java
  open-metadata-implementation/access-services/governance-program/governance-program-api/src/main/java/org/odpi/openmetadata/accessservices/governanceprogram/metadataelements/CertificationElement.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/Configs/GlossaryAuthorViewConfig.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/Configs/GlossaryAuthorViewConfigClient.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/GlossaryAuthorViewRestClient.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/category/GlossaryAuthorViewCategory.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/category/GlossaryAuthorViewCategoryClient.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/glossarys/GlossaryAuthorViewGlossary.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/glossarys/GlossaryAuthorViewGlossaryClient.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/graph/GlossaryAuthorViewGraph.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/graph/GlossaryAuthorViewGraphClient.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/project/GlossaryAuthorViewProject.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/project/GlossaryAuthorViewProjectClient.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/relationships/GlossaryAuthorViewRelationships.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/relationships/GlossaryAuthorViewRelationshipsClient.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/subjectAreaDefinitionCategory/GlossaryAuthorViewSubjectAreaDefinitionCategory.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/subjectAreaDefinitionCategory/GlossaryAuthorViewSubjectAreaDefinitionCategoryClient.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/term/GlossaryAuthorViewTerm.java
  open-metadata-test/open-metadata-fvt/view-services-fvt/glossary-author-fvt/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/fvt/client/term/GlossaryAuthorViewTermClient.java
Owners: @mandy-chessell, @davidradl

#6992 Switch license/copyright checks to be enforced/fail build if detected
  build.gradle
Owners: @planetf1

#6992 Additional corrections on headers to test sources
  open-metadata-implementation/access-services/asset-catalog/asset-catalog-client/src/test/java/org/odpi/openmetadata/accessservices/assetcatalog/AssetCatalogClientTest.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/test/java/org/odpi/openmetadata/accessservices/assetmanager/ffdc/ErrorCodeTest.java
  open-metadata-implementation/access-services/data-manager/data-manager-api/src/test/java/org/odpi/openmetadata/accessservices/datamanager/ffdc/ErrorCodeTest.java
  open-metadata-implementation/access-services/security-manager/security-manager-api/src/test/java/org/odpi/openmetadata/accessservices/securitymanager/ffdc/ErrorCodeTest.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/test/java/org/odpi/openmetadata/accessservices/subjectarea/properties/objects/term/TestTerm.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/test/java/org/odpi/openmetadata/accessservices/subjectarea/validators/TestInputValidator.java
  open-metadata-implementation/adapters/authentication-plugins/http-helper/src/test/java/org/odpi/openmetadata/http/HttpHelperTest.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/cohort-registry-store-connectors/cohort-registry-file-store-connector/src/test/java/org/odpi/openmetadata/adapters/repositoryservices/cohortregistrystore/file/TestFileBasedRegistryStoreConnector.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/cohort-registry-store-connectors/cohort-registry-file-store-connector/src/test/java/org/odpi/openmetadata/adapters/repositoryservices/cohortregistrystore/file/TestFileBasedRegistryStoreProvider.java
  open-metadata-implementation/view-services/glossary-author-view/glossary-author-view-server/src/test/java/org/odpi/openmetadata/viewservices/glossaryauthor/properties/BreadCrumbTrailTest.java
Owners: @alexandra-bucur, @lcpopa, @mandy-chessell, @davidradl

#7324 remove open types fvt from codeQL build
  .github/workflows/codeql-v4.yml
  settings.gradle
Owners: @planetf1

update path references in postman collection
  open-metadata-implementation/framework-services/ocf-metadata-management/Egeria-connected-asset-services.postman_collection.json
Owners: @mandy-chessell

Fix typo in rest endpoint path #7424
  open-metadata-implementation/access-services/governance-program/governance-program-client/src/main/java/org/odpi/openmetadata/accessservices/governanceprogram/client/GovernanceZoneManager.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@0e2b53e6dbacdd2583f6d6064d7d5c0295a81d92 🚀
  org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineSchemaTypeHandler.html
Owners: none

#7503 update cert gen script to retain existing CAs
  open-metadata-resources/open-metadata-deployment/certificates/gensamplecerts.sh
Owners: @planetf1

#7503 Allow for dup certs - due to time overlap
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaIntermediateCA/index.txt.attr
Owners: @planetf1

#7503 refresh self signed/example certs
  EgeriaClient.p12
  open-metadata-implementation/server-chassis/server-chassis-spring/src/main/resources/keystore.p12
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/resources/keystore.p12
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaClient.csr.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaClient.key.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaClient.p12
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaIntermediateCA/index.txt
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaIntermediateCA/index.txt.attr.old
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaIntermediateCA/index.txt.old
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaIntermediateCA/newcerts/1005.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaIntermediateCA/newcerts/1006.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaIntermediateCA/newcerts/1007.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaIntermediateCA/newcerts/1008.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaIntermediateCA/newcerts/1009.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaIntermediateCA/serial
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaIntermediateCA/serial.old
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaReactUIClient.csr.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaReactUIClient.key.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaReactUIClient.p12
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaReactUIServer.csr.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaReactUIServer.key.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaReactUIServer.p12
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaServerChassis.csr.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaServerChassis.key.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaServerChassis.p12
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaUIChassis.csr.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaUIChassis.key.pem
  open-metadata-resources/open-metadata-deployment/certificates/EgeriaUIChassis.p12
  open-metadata-resources/open-metadata-deployment/certificates/tmp.pem
Owners: @planetf1

#7503 correct script re: sonatype lift recommendations
  open-metadata-resources/open-metadata-deployment/certificates/gensamplecerts.sh
Owners: @planetf1

update spring.version for maven
  pom.xml
Owners: @planetf1, @mandy-chessell

update maven dependencies
  pom.xml
Owners: @planetf1, @mandy-chessell

remove unused dependency
  open-metadata-implementation/server-chassis/server-chassis-spring/pom.xml
Owners: @planetf1, @mandy-chessell

remove update spring-security
  pom.xml
Owners: @planetf1, @mandy-chessell

add license
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/api/AuthController.java
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/auth/KeyPairGeneratorUtils.java
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/auth/model/LoginRequest.java
Owners: @mandy-chessell

update maven compiler source and target
  pom.xml
Owners: @planetf1, @mandy-chessell

remove unused imports
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/auth/SecurityConfig.java
Owners: @mandy-chessell

update pom.xml
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/pom.xml
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/pom.xml
  pom.xml
Owners: @planetf1, @mandy-chessell

removed io.jsonwebtoken dependency
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaPlatformSecurityConnectorTokenBased.java
Owners: @mandy-chessell

change jackson dependencies scope
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/build.gradle
Owners: @planetf1

update logback version for gradle
  build.gradle
Owners: @planetf1

fix javadoc
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/auth/SecurityConfig.java
Owners: @mandy-chessell
