Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1

#7110 remove errant SuppressWarnings
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaPlatformSecurityConnector.java
Owners: @mandy-chessell

Handle invalid request type
  open-metadata-implementation/access-services/governance-engine/governance-engine-spring/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/server/spring/EngineConfigurationResource.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-spring/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/server/spring/GovernanceActionProcessResource.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-spring/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/server/spring/GovernanceEngineOMASResource.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/GovernanceActionHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/ffdc/GenericHandlersErrorCode.java
  open-metadata-resources/open-metadata-archives/content-pack-helpers/src/main/java/org/odpi/openmetadata/samples/archiveutilities/GovernanceArchiveHelper.java
Owners: @mandy-chessell

#7090 fix more minor naming updates
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

Add v4 build function for docker, publishing
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

Correct syntax error in lift configuration
  .lift.toml
Owners: none

Correct v4 merge build
  .github/workflows/merge-v4.yml
Owners: @planetf1

#7090 Update to Java 17
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

#7090 disable existing builds from version 0-3
  .github/workflows/merge-gradle.yml
  .github/workflows/merge-maven.yml
  .github/workflows/pr-codeql.yml
  .github/workflows/pr-gradle.yml
  .github/workflows/pr-maven-latest.yml
  .github/workflows/pr-maven-prod.yml
  .github/workflows/release.yml
Owners: @planetf1

#7090 Add new v4 actions for pr - gradle/codeql
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

#7090 add unique names for v4 build
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

#7090 specify Java 17 for sonatype lift
  .lift.toml
Owners: none

#7090 fix more minor naming updates
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

Correct syntax error in lift configuration
  .lift.toml
Owners: none

Add v4 build function for docker, publishing
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

#7090 use official gradle build action
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

Correct v4 merge build
  .github/workflows/merge-v4.yml
Owners: @planetf1

#7090 fix typo in release.yml
  .github/workflows/release.yml
Owners: @planetf1

#7090 Update to Java 17 language/class level
  build.gradle
Owners: @planetf1

Update build target for artifact generation to build publish
  .github/workflows/merge-v4.yml
Owners: @planetf1

Update release template
  .github/ISSUE_TEMPLATE/release.yml
Owners: @planetf1

Change name of gradle publication + add more exclusions for assembly
  build.gradle
  open-metadata-distribution/open-metadata-assemblies/build.gradle
Owners: @planetf1

PR build should publish to maven local to get best build test for PR
  .github/workflows/pr-v4.yml
Owners: @planetf1

Correct path used to source distribution package for docker image content
  .github/workflows/merge-v4.yml
Owners: @planetf1

Correct docker latest tag to only operate when branch is main
  .github/workflows/merge-v4.yml
Owners: @planetf1

Update hardcoded version strings required to allow containers/api to work correctly
  open-metadata-implementation/platform-services/platform-services-server/src/main/java/org/odpi/openmetadata/platformservices/server/OMAGServerPlatformOriginServices.java
  open-metadata-implementation/server-chassis/server-chassis-spring/src/main/java/org/odpi/openmetadata/serverchassis/springboot/OMAGServerPlatform.java
  open-metadata-resources/open-metadata-deployment/docker/configure/Dockerfile
  open-metadata-resources/open-metadata-deployment/docker/egeria/Dockerfile
Owners: @mandy-chessell, @bogdan-sava, @lpalashevski, @planetf1

Deploying to gh-pages from @ odpi/egeria@65607b36d752230c1b236cbbdd58cedd01f708af 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Update directory for build output in container image
  .github/workflows/merge-v4.yml
Owners: @planetf1

Deploying to gh-pages from @ odpi/egeria@992952d015f09624c00bf3d1e0f8ba79f28d15b2 🚀
  allclasses-index.html
  allclasses.html
  constant-values.html
  member-search-index.zip
  org/odpi/openmetadata/governanceservers/openlineage/OpenLineageQueryService.html
  org/odpi/openmetadata/governanceservers/openlineage/client/OpenLineageClient.html
  org/odpi/openmetadata/governanceservers/openlineage/handlers/OpenLineageHandler.html
  org/odpi/openmetadata/governanceservers/openlineage/requests/ElementHierarchyRequest.html
  org/odpi/openmetadata/governanceservers/openlineage/requests/HierarchyType.html
  org/odpi/openmetadata/governanceservers/openlineage/requests/package-summary.html
  org/odpi/openmetadata/governanceservers/openlineage/requests/package-tree.html
  org/odpi/openmetadata/governanceservers/openlineage/server/OpenLineageRestServices.html
  org/odpi/openmetadata/governanceservers/openlineage/server/spring/OpenLineageResource.html
  org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/graph/LineageGraphQueryService.html
  org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/model/JanusConnectorErrorCode.html
  org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/utils/Constants.html
  org/odpi/openmetadata/userinterface/uichassis/springboot/api/lineage/OpenLineageController.html
  org/odpi/openmetadata/userinterface/uichassis/springboot/service/OpenLineageService.html
  overview-tree.html
  package-search-index.zip
  serialized-form.html
  type-search-index.js
  type-search-index.zip
Owners: none

Update docker image to UBI9 openjdk17-runtime
  open-metadata-resources/open-metadata-deployment/docker/egeria/Dockerfile
Owners: @planetf1

#7129 correct ui chassis gradle build
  build.gradle
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/build.gradle
Owners: @planetf1

#7129 correct ui chassis gradle build
  build.gradle
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/build.gradle
Owners: @planetf1

Deploying to gh-pages from @ odpi/egeria@d7ceec6e4d049faf026fc0c38c532da1e8ec80f8 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

force ivy 2.5.1
  build.gradle
  pom.xml
Owners: @planetf1, @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@2f28066da31c01b0caa25a0deaa317ef001ec7c3 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

git7136 amend getSchemTypeElement client call
  open-metadata-implementation/access-services/asset-manager/asset-manager-client/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/client/SchemaExchangeClientBase.java
Owners: @mandy-chessell

Improve content packs
  content-packs/CocoBusinessSystemsArchive.json
  content-packs/CocoClinicalTrialsTemplatesArchive.json
  content-packs/CocoGovernanceEngineDefinitionsArchive.json
  content-packs/CocoGovernanceProgramArchive.json
  content-packs/CocoOrganizationArchive.json
  content-packs/CocoSustainabilityArchive.json
  content-packs/CocoTypesArchive.json
  content-packs/README.md
  open-metadata-implementation/access-services/governance-engine/governance-engine-api/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/rest/NewClassificationRequestBody.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-api/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/rest/NewMetadataElementRequestBody.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-api/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/rest/NewRelatedElementsRequestBody.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-api/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/rest/OpenMetadataElementResponse.java
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-api/src/main/java/org/odpi/openmetadata/commonservices/gaf/api/StewardshipActionInterface.java
  open-metadata-resources/open-metadata-archives/content-pack-helpers/src/main/java/org/odpi/openmetadata/samples/archiveutilities/GovernanceArchiveHelper.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchive.java
Owners: @mandy-chessell

Enable open metadata store
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-api/src/main/java/org/odpi/openmetadata/commonservices/gaf/api/StewardshipActionInterface.java
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-client/src/main/java/org/odpi/openmetadata/commonservices/gaf/client/OpenMetadataStoreClientBase.java
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/converters/OpenMetadataStoreConverter.java
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/handlers/MetadataElementBuilder.java
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/handlers/MetadataElementHandler.java
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/server/OpenMetadataStoreInstance.java
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/server/OpenMetadataStoreInstanceHandler.java
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/gaf/server/OpenMetadataStoreRESTServices.java
  open-metadata-implementation/common-services/gaf-metadata-management/gaf-metadata-spring/src/main/java/org/odpi/openmetadata/commonservices/gaf/server/spring/OpenMetadataStoreResource.java
  open-metadata-implementation/engine-services/asset-analysis/asset-analysis-server/src/main/java/org/odpi/openmetadata/engineservices/assetanalysis/handlers/DiscoveryEngineHandler.java
  open-metadata-implementation/engine-services/asset-analysis/asset-analysis-server/src/main/java/org/odpi/openmetadata/engineservices/assetanalysis/handlers/DiscoveryServiceHandler.java
  open-metadata-implementation/engine-services/governance-action/governance-action-server/src/main/java/org/odpi/openmetadata/engineservices/governanceaction/context/GovernanceListenerManager.java
  open-metadata-implementation/engine-services/governance-action/governance-action-server/src/main/java/org/odpi/openmetadata/engineservices/governanceaction/context/OpenMetadataStoreClient.java
  open-metadata-implementation/engine-services/governance-action/governance-action-server/src/main/java/org/odpi/openmetadata/engineservices/governanceaction/handlers/GovernanceActionEngineHandler.java
  open-metadata-implementation/engine-services/governance-action/governance-action-server/src/main/java/org/odpi/openmetadata/engineservices/governanceaction/handlers/GovernanceActionServiceHandler.java
  open-metadata-implementation/engine-services/repository-governance/repository-governance-server/src/main/java/org/odpi/openmetadata/engineservices/repositorygovernance/handlers/RepositoryGovernanceEngineHandler.java
  open-metadata-implementation/engine-services/repository-governance/repository-governance-server/src/main/java/org/odpi/openmetadata/engineservices/repositorygovernance/handlers/RepositoryGovernanceServiceHandler.java
  open-metadata-implementation/frameworks/governance-action-framework/src/main/java/org/odpi/openmetadata/frameworks/governanceaction/GovernanceActionContext.java
  open-metadata-implementation/frameworks/governance-action-framework/src/main/java/org/odpi/openmetadata/frameworks/governanceaction/GovernanceContext.java
  open-metadata-implementation/frameworks/governance-action-framework/src/main/java/org/odpi/openmetadata/frameworks/governanceaction/OpenMetadataClient.java
  open-metadata-implementation/frameworks/governance-action-framework/src/main/java/org/odpi/openmetadata/frameworks/governanceaction/OpenMetadataStore.java
  open-metadata-implementation/frameworks/governance-action-framework/src/main/java/org/odpi/openmetadata/frameworks/governanceaction/ProvisioningGovernanceContext.java
  open-metadata-implementation/governance-servers/engine-host-services/engine-host-services-api/src/main/java/org/odpi/openmetadata/governanceservers/enginehostservices/ffdc/EngineHostServicesErrorCode.java
  open-metadata-implementation/governance-servers/engine-host-services/engine-host-services-registration/src/main/java/org/odpi/openmetadata/governanceservers/enginehostservices/admin/GovernanceEngineHandler.java
  open-metadata-implementation/governance-servers/engine-host-services/engine-host-services-registration/src/main/java/org/odpi/openmetadata/governanceservers/enginehostservices/admin/GovernanceServiceCache.java
  open-metadata-implementation/governance-servers/engine-host-services/engine-host-services-registration/src/main/java/org/odpi/openmetadata/governanceservers/enginehostservices/admin/GovernanceServiceHandler.java
  open-metadata-implementation/governance-servers/engine-host-services/engine-host-services-server/src/main/java/org/odpi/openmetadata/governanceservers/enginehostservices/listener/GovernanceEngineOutTopicListener.java
  open-metadata-implementation/governance-servers/engine-host-services/engine-host-services-server/src/main/java/org/odpi/openmetadata/governanceservers/enginehostservices/server/EngineHostInstance.java
  open-metadata-implementation/governance-servers/engine-host-services/engine-host-services-server/src/main/java/org/odpi/openmetadata/governanceservers/enginehostservices/server/EngineHostRESTServices.java
  open-metadata-implementation/governance-servers/engine-host-services/engine-host-services-server/src/main/java/org/odpi/openmetadata/governanceservers/enginehostservices/threads/EngineConfigurationRefreshThread.java
  open-metadata-implementation/governance-servers/engine-host-services/engine-host-services-spring/src/main/java/org/odpi/openmetadata/engineservices/assetanalysis/server/spring/EngineHostServicesResource.java
Owners: @mandy-chessell

Improve registered services interface
  open-metadata-implementation/access-services/governance-engine/governance-engine-api/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/api/SpecialGovernanceActionInterface.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-api/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/api/package-info.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-api/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/metadataelements/package-info.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-api/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/properties/GovernanceActionProperties.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-api/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/properties/RegisteredGovernanceService.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-api/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/properties/RegisteredGovernanceServiceProperties.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-api/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/properties/package-info.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-api/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/rest/GovernanceServiceRegistrationRequestBody.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-api/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/rest/RegisteredGovernanceServicesResponse.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-client/build.gradle
  open-metadata-implementation/access-services/governance-engine/governance-engine-client/pom.xml
  open-metadata-implementation/access-services/governance-engine/governance-engine-client/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/client/GovernanceEngineClient.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-client/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/client/GovernanceEngineConfigurationClient.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-client/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/client/package-info.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-client/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/client/rest/GovernanceEngineRESTClient.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-client/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/client/rest/package-info.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-server/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/admin/package-info.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-server/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/converters/GovernanceActionConverter.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-server/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/converters/RegisteredGovernanceServiceConverter.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-server/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/converters/package-info.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-server/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/handlers/GovernanceConfigurationHandler.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-server/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/server/GovernanceConfigRESTServices.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-server/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/server/GovernanceEngineRESTServices.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-spring/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/server/spring/EngineConfigurationResource.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-spring/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/server/spring/GovernanceEngineOMASResource.java
Owners: @mandy-chessell, @planetf1

Add another dependency
  open-metadata-implementation/access-services/governance-engine/governance-engine-client/build.gradle
Owners: @planetf1

Add another dependency
  open-metadata-implementation/access-services/governance-engine/governance-engine-client/build.gradle
Owners: @planetf1
