Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1

#7090 fix typo in release.yml
  .github/workflows/release.yml
Owners: @planetf1

#7090 use official gradle build action
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

OLS - add unit tests
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/graph/LineageGraphQueryService.java
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/test/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/lineagegraph/LineageGraphQueryServiceTest.java
Owners: @marius-patrascu, @lcpopa

OLS - add client implementation
  open-metadata-implementation/governance-servers/open-lineage-services/open-lineage-services-client/src/main/java/org/odpi/openmetadata/governanceservers/openlineage/client/OpenLineageClient.java
  open-metadata-implementation/governance-servers/open-lineage-services/open-lineage-services-spring/src/main/java/org/odpi/openmetadata/governanceservers/openlineage/server/spring/OpenLineageResource.java
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/api/lineage/OpenLineageController.java
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/service/OpenLineageService.java
Owners: @marius-patrascu, @popa-raluca, @mandy-chessell

OLS - add client implementation
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/graph/LineageGraphQueryService.java
  open-metadata-implementation/governance-servers/open-lineage-services/open-lineage-services-client/src/main/java/org/odpi/openmetadata/governanceservers/openlineage/client/OpenLineageClient.java
Owners: @marius-patrascu, @lcpopa, @popa-raluca

OLS - add license & small fix for querying hierarchy
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/graph/LineageGraphQueryService.java
  open-metadata-implementation/governance-servers/open-lineage-services/open-lineage-services-api/src/main/java/org/odpi/openmetadata/governanceservers/openlineage/requests/HierarchyType.java
Owners: @marius-patrascu, @lcpopa, @popa-raluca

DE Proxy Service - fix sonatype-lift findings
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DataEngineEventHeader.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DataEngineRegistrationEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DataFileEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DatabaseEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DatabaseSchemaEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DeleteEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/EventTypeEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/FindEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/LineageMappingsEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/PortAliasEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/PortImplementationEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/ProcessEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/ProcessHierarchyEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/ProcessListEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/ProcessingStateEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/RelationalTableEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/SchemaTypeEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/TopicEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-client/build.gradle
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineRESTClient.java
Owners: @popa-raluca, @lcpopa, @planetf1

DE Proxy Service - fix sonatype-lift findings
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/ProcessingStateEvent.java
Owners: @popa-raluca, @lcpopa

OLS - fix sonar bugs
  open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/graph/LineageGraphQueryService.java
  open-metadata-implementation/governance-servers/open-lineage-services/open-lineage-services-api/src/main/java/org/odpi/openmetadata/governanceservers/openlineage/requests/ElementHierarchyRequest.java
Owners: @marius-patrascu, @lcpopa, @popa-raluca

remove duplicate for janus.version
  pom.xml
Owners: @planetf1, @mandy-chessell

backing version of osgi.version to v6.0.0 v8.0.0 does not exist.
  pom.xml
Owners: @planetf1, @mandy-chessell

setting compatible gremlin version
  pom.xml
Owners: @planetf1, @mandy-chessell

Fix request bodies
  open-metadata-implementation/access-services/asset-consumer/Egeria-asset-consumer-omas.postman_collection.json
  open-metadata-resources/open-metadata-samples/sample-metadata/coco-it-infrastructure/README.md
Owners: @mandy-chessell

Add missing REST endpoints (#7096)
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-rest-repository-connector/README.md
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-rest-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/rest/repositoryconnector/OMRSRESTMetadataCollection.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-rest-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/rest/repositoryconnector/OMRSRESTRepositoryConnector.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/rest/properties/ClassificationProxyRequest.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/rest/properties/ClassificationResponse.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/rest/properties/ProxyClassificationRequest.java
  open-metadata-implementation/repository-services/repository-services-client/src/main/java/org/odpi/openmetadata/repositoryservices/clients/MetadataCollectionServicesClient.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/rest/server/OMRSRepositoryRESTServices.java
  open-metadata-implementation/repository-services/repository-services-spring/src/main/java/org/odpi/openmetadata/repositoryservices/rest/server/spring/EnterpriseRepositoryServicesResource.java
  open-metadata-implementation/repository-services/repository-services-spring/src/main/java/org/odpi/openmetadata/repositoryservices/rest/server/spring/LocalRepositoryServicesResource.java
Owners: @mandy-chessell

Add cohort mgt REST API and support for DEREGISTERED_REPO (#7093, #7098)
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/cohort-registry-store-connectors/cohort-registry-file-store-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/cohortregistrystore/file/FileBasedRegistryStoreConnector.java
  open-metadata-implementation/repository-services/Egeria-repository-services-metadata-highway.postman_collection.json
  open-metadata-implementation/repository-services/repository-services-client/src/main/java/org/odpi/openmetadata/repositoryservices/clients/MetadataHighwayServicesClient.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/OMRSLocalRepository.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositoryconnector/LocalOMRSMetadataCollection.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositoryconnector/LocalOMRSRepositoryConnector.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/metadatahighway/OMRSCohortManager.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/metadatahighway/OMRSMetadataHighwayManager.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/metadatahighway/cohortregistry/OMRSCohortRegistry.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/rest/server/OMRSMetadataHighwayRESTServices.java
  open-metadata-implementation/repository-services/repository-services-spring/src/main/java/org/odpi/openmetadata/repositoryservices/rest/server/spring/AnonRepositoryServicesResource.java
  open-metadata-implementation/repository-services/repository-services-spring/src/main/java/org/odpi/openmetadata/repositoryservices/rest/server/spring/AuditLogServicesResource.java
  open-metadata-implementation/repository-services/repository-services-spring/src/main/java/org/odpi/openmetadata/repositoryservices/rest/server/spring/MetadataHighwayServicesResource.java
Owners: @mandy-chessell

Improved error handling, Javadoc and comments
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-api/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/ffdc/AssetConsumerAuditCode.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-api/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/ffdc/AssetConsumerErrorCode.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-server/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/server/AssetConsumerRESTServices.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-server/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/listener/AssetManagerOMRSTopicListener.java
  open-metadata-implementation/access-services/data-manager/data-manager-server/src/main/java/org/odpi/openmetadata/accessservices/datamanager/listener/DataManagerOMRSTopicListener.java
  open-metadata-implementation/access-services/data-manager/data-manager-server/src/main/java/org/odpi/openmetadata/accessservices/datamanager/server/APIManagerRESTServices.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-server/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/outtopic/DigitalArchitectureOMRSTopicListener.java
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/responses/SubjectAreaOMASAPIResponse.java
  open-metadata-implementation/access-services/subject-area/subject-area-server/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/server/services/SubjectAreaTermRESTServices.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/APIOperationHandler.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/OpenMetadataAPIGenericHandler.java
  open-metadata-implementation/common-services/ocf-metadata-management/ocf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/server/OCFMetadataRESTServices.java
  open-metadata-implementation/common-services/ocf-metadata-management/ocf-metadata-spring/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/server/spring/ConnectedAssetResource.java
  open-metadata-implementation/common-services/repository-handler/src/main/java/org/odpi/openmetadata/commonservices/repositoryhandler/RepositoryErrorHandler.java
  open-metadata-implementation/common-services/repository-handler/src/main/java/org/odpi/openmetadata/commonservices/repositoryhandler/RepositoryHandler.java
  open-metadata-implementation/common-services/repository-handler/src/main/java/org/odpi/openmetadata/commonservices/repositoryhandler/RepositoryHandlerAuditCode.java
  open-metadata-implementation/common-services/repository-handler/src/main/java/org/odpi/openmetadata/commonservices/repositoryhandler/RepositoryHandlerErrorCode.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/OMRSMetadataCollection.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/OMRSMetadataCollectionBase.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/HistorySequencingOrder.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/EntityProxy.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceAuditHeader.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/repositoryconnector/OMRSRepositoryConnector.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/ffdc/OMRSAuditCode.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/ffdc/OMRSErrorCode.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/admin/OMRSConfigurationFactory.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/connectormanager/OMRSEnterpriseConnectorManager.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/EnterpriseOMRSMetadataCollection.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/accumulators/ClassificationAccumulator.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/executors/AddEntityExecutor.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/enterprise/repositoryconnector/executors/AddRelationshipExecutor.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/eventmanagement/OMRSRepositoryEventManager.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentHelper.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositorycontentmanager/OMRSRepositoryContentValidator.java
  open-metadata-implementation/view-services/dino-view/dino-view-server/src/main/java/org/odpi/openmetadata/viewservices/dino/handlers/DinoViewHandler.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/fvt/TermFVT.java
Owners: @mandy-chessell, @davidradl

Archive updates
  open-metadata-resources/open-metadata-archives/content-pack-helpers/src/main/java/org/odpi/openmetadata/samples/archiveutilities/SimpleCatalogArchiveHelper.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchive.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchive3_13.java
Owners: @mandy-chessell

Archive update
  content-packs/SimpleGovernanceCatalog.json
Owners: none

Store classifications independent of entities (#7099)
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/graphrepository/repositoryconnector/GraphOMRSMetadataCollection.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/inmemory-repository-connector/build.gradle
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/inmemory-repository-connector/pom.xml
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/inmemory-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/inmemory/repositoryconnector/InMemoryOMRSMetadataCollection.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/inmemory-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/inmemory/repositoryconnector/InMemoryOMRSMetadataStore.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/inmemory-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/inmemory/repositoryconnector/InMemoryOMRSRepositoryConnector.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/inmemory-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/readonly/repositoryconnector/ReadOnlyOMRSMetadataCollection.java
Owners: @lpalashevski, @lcpopa, @planetf1, @mandy-chessell

rename var gremlin.version to tinkerpop.version
  pom.xml
Owners: @planetf1, @mandy-chessell

Add missing overrides
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/inmemory-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/inmemory/repositoryconnector/InMemoryOMRSMetadataCollection.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-rest-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/rest/repositoryconnector/OMRSRESTMetadataCollection.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/localrepository/repositoryconnector/LocalOMRSMetadataCollection.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@b10a1a07799c36ebdc88b3eb24e6db241104ea0c 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Deploying to gh-pages from @ odpi/egeria@ace71883c507def499806c493be22937d83e90d1 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Populate referenceColumnGUID/qName from correct end of relationship (#7052)
  open-metadata-implementation/access-services/data-manager/data-manager-server/src/main/java/org/odpi/openmetadata/accessservices/datamanager/converters/DatabaseColumnConverter.java
Owners: @mandy-chessell

Improve consistency of treatment of qualifiedName
  open-metadata-implementation/access-services/data-manager/data-manager-client/src/main/java/org/odpi/openmetadata/accessservices/datamanager/client/FilesAndFoldersClient.java
  open-metadata-implementation/access-services/data-manager/data-manager-server/src/main/java/org/odpi/openmetadata/accessservices/datamanager/server/FilesRESTServices.java
  open-metadata-implementation/adapters/open-connectors/integration-connectors/files-integration-connectors/src/main/java/org/odpi/openmetadata/adapters/connectors/integration/basicfiles/DataFilesMonitorIntegrationConnector.java
  open-metadata-implementation/common-services/generic-handlers/src/main/java/org/odpi/openmetadata/commonservices/generichandlers/FilesAndFoldersHandler.java
Owners: @mandy-chessell

Add connector type query (#7103)
  open-metadata-implementation/admin-services/admin-services-api/src/main/java/org/odpi/openmetadata/adminservices/configuration/registration/CommonServicesDescription.java
  open-metadata-implementation/admin-services/admin-services-server/src/main/java/org/odpi/openmetadata/adminservices/OMAGConformanceSuiteConfigServices.java
  open-metadata-implementation/common-services/multi-tenant/src/main/java/org/odpi/openmetadata/commonservices/multitenant/GovernanceServerServiceInstanceHandler.java
  open-metadata-implementation/common-services/multi-tenant/src/main/java/org/odpi/openmetadata/commonservices/multitenant/OMAGServerPlatformInstanceMap.java
  open-metadata-implementation/governance-servers/integration-daemon-services/integration-daemon-services-spring/src/main/java/org/odpi/openmetadata/governanceservers/integrationdaemonservices/server/spring/IntegrationDaemonResource.java
  open-metadata-implementation/platform-services/platform-services-client/src/main/java/org/odpi/openmetadata/platformservices/client/PlatformServicesClient.java
  open-metadata-implementation/platform-services/platform-services-client/src/main/java/org/odpi/openmetadata/platformservices/client/PlatformServicesRESTClient.java
  open-metadata-implementation/platform-services/platform-services-server/build.gradle
  open-metadata-implementation/platform-services/platform-services-server/pom.xml
  open-metadata-implementation/platform-services/platform-services-server/src/main/java/org/odpi/openmetadata/platformservices/server/OMAGServerPlatformActiveServices.java
  open-metadata-implementation/platform-services/platform-services-spring/src/main/java/org/odpi/openmetadata/platformservices/server/spring/OMAGServerPlatformActiveResource.java
Owners: @mandy-chessell, @planetf1

Allow local cohort provenance
  open-metadata-implementation/adapters/open-connectors/event-bus-connectors/open-metadata-topic-connectors/kafka-open-metadata-topic-connector/README.md
  open-metadata-implementation/adapters/open-connectors/integration-connectors/kafka-integration-connector/src/main/java/org/odpi/openmetadata/adapters/connectors/integration/kafka/KafkaMonitorIntegrationConnector.java
  open-metadata-implementation/adapters/open-connectors/integration-connectors/openapi-integration-connector/src/main/java/org/odpi/openmetadata/adapters/connectors/integration/openapis/OpenAPIMonitorIntegrationConnector.java
  open-metadata-implementation/adapters/open-connectors/integration-connectors/openlineage-integration-connectors/src/main/java/org/odpi/openmetadata/adapters/connectors/integration/openlineage/APIBasedOpenLineageLogStoreConnector.java
  open-metadata-implementation/adapters/open-connectors/integration-connectors/openlineage-integration-connectors/src/main/java/org/odpi/openmetadata/adapters/connectors/integration/openlineage/OpenLineageEventReceiverIntegrationConnector.java
  open-metadata-implementation/integration-services/api-integrator/api-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/api/connector/APIIntegratorContext.java
  open-metadata-implementation/integration-services/api-integrator/api-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/api/contextmanager/APIIntegratorContextManager.java
  open-metadata-implementation/integration-services/catalog-integrator/catalog-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/catalog/contextmanager/CatalogIntegratorContextManager.java
  open-metadata-implementation/integration-services/database-integrator/database-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/database/contextmanager/DatabaseIntegratorContextManager.java
  open-metadata-implementation/integration-services/database-integrator/database-integrator-spring/src/main/java/org/odpi/openmetadata/integrationservices/database/server/spring/DatabaseIntegratorResource.java
  open-metadata-implementation/integration-services/display-integrator/display-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/display/contextmanager/DisplayIntegratorContextManager.java
  open-metadata-implementation/integration-services/infrastructure-integrator/infrastructure-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/infrastructure/contextmanager/InfrastructureIntegratorContextManager.java
  open-metadata-implementation/integration-services/lineage-integrator/lineage-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/lineage/contextmanager/LineageIntegratorContextManager.java
  open-metadata-implementation/integration-services/organization-integrator/organization-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/organization/contextmanager/OrganizationIntegratorContextManager.java
  open-metadata-implementation/integration-services/security-integrator/security-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/security/contextmanager/SecurityIntegratorContextManager.java
  open-metadata-implementation/integration-services/topic-integrator/topic-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/topic/contextmanager/TopicIntegratorContextManager.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@b249b80b2a70f531f0fdeb6ef8bef8bd06ef67de 🚀
  allclasses-index.html
  member-search-index.zip
  org/odpi/openmetadata/adapters/connectors/integration/openlineage/APIBasedOpenLineageLogStoreConnector.html
  org/odpi/openmetadata/adapters/connectors/integration/openlineage/package-summary.html
  org/odpi/openmetadata/adminservices/configuration/registration/CommonServicesDescription.html
  org/odpi/openmetadata/commonservices/generichandlers/FilesAndFoldersHandler.html
  org/odpi/openmetadata/commonservices/multitenant/GovernanceServerServiceInstanceHandler.html
  org/odpi/openmetadata/commonservices/multitenant/OMAGServerPlatformInstanceMap.html
  org/odpi/openmetadata/platformservices/client/PlatformServicesClient.html
  org/odpi/openmetadata/platformservices/server/OMAGServerPlatformActiveServices.html
  org/odpi/openmetadata/platformservices/server/spring/OMAGServerPlatformActiveResource.html
  package-search-index.zip
  type-search-index.zip
Owners: none

Fix overrides
  open-metadata-implementation/engine-services/repository-governance/repository-governance-api/src/main/java/org/odpi/openmetadata/engineservices/repositorygovernance/connector/RepositoryGovernanceServiceConnector.java
  open-metadata-implementation/frameworks/audit-log-framework/src/main/java/org/odpi/openmetadata/frameworks/auditlog/AuditLogReportingComponent.java
  open-metadata-implementation/frameworks/governance-action-framework/src/main/java/org/odpi/openmetadata/frameworks/governanceaction/GeneralGovernanceActionService.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/ConnectorProviderBase.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/auditlog/OMRSAuditingComponent.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/auditlogstore/OMRSAuditLogReportingComponent.java
Owners: @mandy-chessell

Refresh of content packs
  content-packs/CocoBusinessSystemsArchive.json
  content-packs/CocoClinicalTrialsTemplatesArchive.json
  content-packs/CocoGovernanceEngineDefinitionsArchive.json
  content-packs/CocoGovernanceProgramArchive.json
  content-packs/CocoOrganizationArchive.json
  content-packs/CocoSustainabilityArchive.json
  content-packs/OpenConnectorsArchive.json
  content-packs/OpenMetadataTypes.json
  content-packs/README.md
Owners: none

Support ResourceList relationship
  open-metadata-resources/open-metadata-archives/content-pack-helpers/src/main/java/org/odpi/openmetadata/samples/archiveutilities/SimpleCatalogArchiveHelper.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@abab90ec615d38adc81026b0e749bddc88214818 🚀
  member-search-index.zip
  org/odpi/openmetadata/frameworks/auditlog/AuditLogReportingComponent.html
  org/odpi/openmetadata/samples/archiveutilities/GovernanceArchiveHelper.html
  org/odpi/openmetadata/samples/archiveutilities/SimpleCatalogArchiveHelper.html
  package-search-index.zip
  type-search-index.zip
Owners: none

Fix Javadoc
  open-metadata-resources/open-metadata-archives/content-pack-helpers/src/main/java/org/odpi/openmetadata/samples/archiveutilities/SimpleCatalogArchiveHelper.java
Owners: @mandy-chessell

Fix spelling mistake
  content-packs/README.md
Owners: none

Deploying to gh-pages from @ odpi/egeria@68b6dad0459b79c400bc78ac8655abd9825b73a3 🚀
  member-search-index.zip
  org/odpi/openmetadata/samples/archiveutilities/SimpleCatalogArchiveHelper.html
  package-search-index.zip
  type-search-index.zip
Owners: none

#7110 add juergen as contributor
  CONTRIBUTORS.md
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaPlatformSecurityConnector.java
Owners: @mandy-chessell

Navigate down category hierarchy for subcategories
  open-metadata-implementation/access-services/glossary-view/glossary-view-server/src/main/java/org/odpi/openmetadata/accessservices/glossaryview/server/service/OMRSClient.java
  open-metadata-implementation/access-services/glossary-view/glossary-view-server/src/test/java/org/odpi/openmetadata/accessservices/glossaryview/server/service/GlossaryCategoryServiceTest.java
Owners: @lcpopa, @marius-patrascu

Add summary to meaning properties
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-api/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/properties/MeaningProperties.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-server/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/converters/MeaningConverter.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@69f551b7ad6d6e31f37e628f949f89dafab3bb39 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

OLS - add sample collection
  open-metadata-implementation/governance-servers/open-lineage-services/docs/samples/OLS.postman_collection.json
Owners: @marius-patrascu, @popa-raluca
