Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

Deploying to gh-pages from @ odpi/egeria@f8d19ed34e7e1ab06715de0aa1235e335fb9e5d6 🚀
  constant-values.html
  member-search-index.zip
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/RepositoryElementHeader.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ArrayPropertyValue.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/Classification.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/ClassificationEntityExtension.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/EntityDetail.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/EntityProxy.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/EntitySummary.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/EnumPropertyValue.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceAuditHeader.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceElementHeader.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceGraph.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceHeader.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceProperties.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstancePropertyValue.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceType.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/MapPropertyValue.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/PrimitivePropertyValue.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/Relationship.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/StructPropertyValue.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/AttributeTypeDef.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/EnumElementDef.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/ExternalStandardMapping.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/RelationshipEndDef.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/TypeDefAttribute.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/TypeDefElementHeader.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/TypeDefGallery.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/TypeDefLink.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/TypeDefPatch.html
  org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/typedefs/TypeDefProperties.html
  package-search-index.zip
  serialized-form.html
  type-search-index.zip
Owners: none

DE OMAS - replace LineageMappings with DataFlows
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DataEngineEventHeader.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DataEngineEventType.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DataFlowsEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/ffdc/DataEngineErrorCode.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/model/DataFlow.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/model/DeleteSemantic.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/model/Process.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/rest/DataFlowsRequestBody.java
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineClient.java
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineEventClient.java
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineRESTClient.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/docs/scenarios/add-data-flows.md
  open-metadata-implementation/access-services/data-engine/data-engine-server/docs/scenarios/add-lineage-mappings.md
  open-metadata-implementation/access-services/data-engine/data-engine-server/docs/scenarios/delete-process.md
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineSchemaTypeHandler.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/listeners/DataEngineInTopicListener.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/processors/DataEngineEventProcessor.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/service/DataEngineRESTServices.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineSchemaTypeHandlerTest.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/service/DataEngineRESTServicesTest.java
  open-metadata-implementation/access-services/data-engine/data-engine-spring/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/spring/DataEngineResource.java
  open-metadata-implementation/access-services/data-engine/data-engine-spring/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/spring/DataEngineResourceTest.java
  open-metadata-implementation/access-services/data-engine/docs/samples/events/DataEngine_upsert_events.txt
  open-metadata-implementation/access-services/data-engine/docs/samples/initial-load/data-engine/payloads/create-processes.json
  open-metadata-implementation/access-services/data-engine/docs/scenarios/README.md
  open-metadata-implementation/access-services/data-engine/docs/scenarios/add-data-flows.md
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-connector/src/main/java/org/odpi/openmetadata/governanceservers/dataengineproxy/connectors/DataEngineConnectorBase.java
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-connector/src/main/java/org/odpi/openmetadata/governanceservers/dataengineproxy/connectors/DataEngineInterface.java
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-services-server/README.md
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-services-server/src/main/java/org/odpi/openmetadata/governanceservers/dataengineproxy/processor/DataEngineProxyService.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/LineageSetupService.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/RepositoryService.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/LineageFVT.java
Owners: @popa-raluca, @lcpopa, @cmgrote, @alexandra-bucur

DE OMAS - replace LineageMappings with DataFlows
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineRESTClient.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineSchemaTypeHandler.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineSchemaTypeHandlerTest.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/RepositoryService.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/DataEngineFVT.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/LineageFVT.java
Owners: @popa-raluca, @lcpopa, @alexandra-bucur

AL OMAS - replace LineageMappings with DataFlows
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-api/docs/events/lineage-event.md
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-api/src/main/java/org/odpi/openmetadata/accessservices/assetlineage/event/AssetLineageEventType.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/main/java/org/odpi/openmetadata/accessservices/assetlineage/handlers/ProcessContextHandler.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/main/java/org/odpi/openmetadata/accessservices/assetlineage/listeners/AssetLineageOMRSTopicListener.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/main/java/org/odpi/openmetadata/accessservices/assetlineage/outtopic/AssetLineagePublisher.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/main/java/org/odpi/openmetadata/accessservices/assetlineage/util/AssetLineageConstants.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/main/java/org/odpi/openmetadata/accessservices/assetlineage/util/AssetLineageTypesValidator.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/test/java/org/odpi/openmetadata/accessservices/assetlineage/handlers/ProcessContextHandlerTest.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/test/java/org/odpi/openmetadata/accessservices/assetlineage/listeners/AssetLineageOMRSTopicListenerTest.java
  open-metadata-implementation/access-services/asset-lineage/asset-lineage-server/src/test/java/org/odpi/openmetadata/accessservices/assetlineage/util/AssetLineageTypesValidatorTest.java
  open-metadata-implementation/governance-servers/open-lineage-services/open-lineage-services-server/src/main/java/org/odpi/openmetadata/governanceservers/openlineage/listeners/OpenLineageInTopicListener.java
Owners: @lcpopa, @popa-raluca, @marius-patrascu

Added the platform security connector and provider. Added slf4j in pom.
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/pom.xml
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaPlatformSecurityConnectorTokenBased.java
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaPlatformSecurityProviderTokenBased.java
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaServerSecurityConnectorTokenBased.java
Owners: @planetf1, @mandy-chessell

New tests and fixes for Asset Consumer OMAS
  open-metadata-implementation/access-services/README.md
  open-metadata-implementation/access-services/asset-consumer/Egeria-asset-consumer-omas.postman_collection.json
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-api/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/api/AssetConsumerFeedbackInterface.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-api/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/elements/InformalTagElement.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-api/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/elements/TaggedElement.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-api/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/properties/ReferenceableProperties.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-api/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/rest/CommentRequestBody.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-api/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/rest/RatingRequestBody.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-api/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/rest/TagRequestBody.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-api/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/rest/TagUpdateRequestBody.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-client/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/client/AssetConsumer.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-client/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/client/AssetConsumerEventClient.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-client/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/client/rest/AssetConsumerRESTClient.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-server/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/admin/AssetConsumerAdmin.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-server/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/converters/InformalTagConverter.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-server/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/outtopic/AssetConsumerOMRSTopicListener.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-server/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/server/AssetConsumerInstanceHandler.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-server/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/server/AssetConsumerRESTServices.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-server/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/server/AssetConsumerServicesInstance.java
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-spring/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/server/spring/AssetConsumerResource.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/README.md
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/fvt/AssetConsumerOMASFVTSuite.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/fvt/AssetOwnerFactory.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/fvt/ClientConstructorTest.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/fvt/CommentLifecycleTest.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/fvt/InformalTagLifecycleTest.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/fvt/InvalidParameterTest.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/fvt/package-info.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/src/test/java/org/odpi/openmetadata/accessservices/assetconsumer/fvt/execution/AssetConsumerOMASClientConstructorIT.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/src/test/java/org/odpi/openmetadata/accessservices/assetconsumer/fvt/execution/AssetConsumerOMASCommentLifecycleIT.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/src/test/java/org/odpi/openmetadata/accessservices/assetconsumer/fvt/execution/AssetConsumerOMASInvalidParameterIT.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/src/test/java/org/odpi/openmetadata/accessservices/assetconsumer/fvt/execution/package-info.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/src/main/java/org/odpi/openmetadata/accessservices/datamanager/fvt/databases/CreateDatabaseTest.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/src/main/java/org/odpi/openmetadata/accessservices/stewardshipaction/fvt/duplicateprocessing/DuplicateAssetTest.java
Owners: @mandy-chessell, @planetf1

Fixes to search interfaces
  open-metadata-implementation/access-services/asset-owner/asset-owner-client/src/main/java/org/odpi/openmetadata/accessservices/assetowner/client/AssetOwner.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-server/src/main/java/org/odpi/openmetadata/accessservices/assetowner/outtopic/AssetOwnerOMRSTopicListener.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-server/src/main/java/org/odpi/openmetadata/accessservices/assetowner/server/AssetOwnerRESTServices.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-spring/src/main/java/org/odpi/openmetadata/accessservices/assetowner/server/spring/AssetOwnerResource.java
Owners: @mandy-chessell

Add collection interface to OMASs
  open-metadata-implementation/access-services/community-profile/community-profile-api/src/main/java/org/odpi/openmetadata/accessservices/communityprofile/metadataelements/CollectionMember.java
  open-metadata-implementation/access-services/data-manager/data-manager-client/src/main/java/org/odpi/openmetadata/accessservices/datamanager/client/DatabaseManagerClient.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/api/ManageCollections.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/api/ManageSubjectAreas.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/metadataelements/CollectionElement.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/metadataelements/CollectionMember.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/metadataelements/RelatedElement.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/metadataelements/SubjectAreaElement.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/ClassificationProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/CollectionOrder.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/CollectionProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/CollectionStatus.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/ConnectionProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/ConnectorTypeProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/EndpointProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/LocationProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/MeaningProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/ReferenceDataAssetProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/ReferenceValueAssignmentProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/ReferenceableProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/RelationshipProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/SubjectAreaClassificationProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/SubjectAreaProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/ValidValueMembershipProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/ValidValueProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/ValidValuesImplProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-api/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/properties/ValidValuesMappingProperties.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-server/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/converters/ReferenceDataAssetConverter.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-server/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/outtopic/DigitalArchitectureOMRSTopicListener.java
  open-metadata-implementation/access-services/digital-service/digital-service-api/src/main/java/org/odpi/openmetadata/accessservices/digitalservice/api/CollectionsInterface.java
  open-metadata-implementation/access-services/digital-service/digital-service-api/src/main/java/org/odpi/openmetadata/accessservices/digitalservice/api/DigitalServicesInterface.java
  open-metadata-implementation/access-services/digital-service/digital-service-api/src/main/java/org/odpi/openmetadata/accessservices/digitalservice/metadataelements/CollectionElement.java
  open-metadata-implementation/access-services/digital-service/digital-service-api/src/main/java/org/odpi/openmetadata/accessservices/digitalservice/metadataelements/CollectionMember.java
  open-metadata-implementation/access-services/digital-service/digital-service-api/src/main/java/org/odpi/openmetadata/accessservices/digitalservice/properties/CollectionOrder.java
  open-metadata-implementation/access-services/digital-service/digital-service-api/src/main/java/org/odpi/openmetadata/accessservices/digitalservice/properties/CollectionProperties.java
  open-metadata-implementation/access-services/digital-service/digital-service-api/src/main/java/org/odpi/openmetadata/accessservices/digitalservice/properties/CollectionStatus.java
  open-metadata-implementation/access-services/digital-service/digital-service-api/src/main/java/org/odpi/openmetadata/accessservices/digitalservice/properties/ReferenceableProperties.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-server/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/handlers/GovernanceConfigurationHandler.java
  open-metadata-implementation/access-services/it-infrastructure/it-infrastructure-server/src/main/java/org/odpi/openmetadata/accessservices/itinfrastructure/listener/ITInfrastructureOMRSTopicListener.java
  open-metadata-implementation/access-services/stewardship-action/stewardship-action-server/src/main/java/org/odpi/openmetadata/accessservices/stewardshipaction/outtopic/StewardshipActionOMRSTopicListener.java
Owners: @mandy-chessell

Update documentation
  open-metadata-implementation/engine-services/README.md
  open-metadata-implementation/engine-services/asset-analysis/README.md
  open-metadata-implementation/engine-services/governance-action/README.md
  open-metadata-implementation/engine-services/repository-governance/README.md
Owners: @mandy-chessell

Add final
  open-metadata-test/open-metadata-ut/src/main/java/org/odpi/openmetadata/test/unittest/utilities/MessageSetTest.java
Owners: @mandy-chessell

Update types for Data Mesh (6526)
  content-packs/OpenMetadataTypes.json
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchive.java
Owners: @mandy-chessell

Correct name spelling (#7244)
  CONTRIBUTORS.md
Owners: @mandy-chessell

Correct documentation URL (#6551)
  open-metadata-implementation/view-services/glossary-author-view/glossary-author-view-spring/src/main/java/org/odpi/openmetadata/viewservices/glossaryauthor/server/GlossaryAuthorGraphRESTResource.java
Owners: @davidradl

Update springboot to 2.7.7 (gradle)
  build.gradle
Owners: @planetf1

Remove qodana configuration
  qodana.yaml
Owners: none

Remove .dylib files & add to gitignore
  .gitignore
  jffi13806053305531375903.dylib
  jffi15301782968339583975.dylib
Owners: @planetf1

Back off springdoc version to resolve log version conflict
  .github/workflows/stale.yml
  build.gradle
  pom.xml
Owners: @planetf1, @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@9ed35f07f680a7cb054b08b99194a8eac9897b61 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

#7090 specify Java 17 for sonatype lift
  .lift.toml
Owners: none

#7090 Add new v4 actions for pr - gradle/codeql
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

#7090 add unique names for v4 build
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

#7090 Update to Java 17
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

#7090 disable existing builds from version 0-3
  .github/workflows/merge-gradle.yml
  .github/workflows/merge-maven.yml
  .github/workflows/pr-codeql.yml
  .github/workflows/pr-gradle.yml
  .github/workflows/pr-maven-latest.yml
  .github/workflows/pr-maven-prod.yml
  .github/workflows/release.yml
Owners: @planetf1

Add #7090 Update to Java 17 language/class level
  build.gradle
Owners: @planetf1

#7090 fix typo in release.yml
  .github/workflows/release.yml
Owners: @planetf1

#7090 use official gradle build action
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

#7090 fix more minor naming updates
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

Correct syntax error in lift configuration
  .lift.toml
Owners: none

Change name of gradle publication + add more exclusions for assembly
  build.gradle
  open-metadata-distribution/open-metadata-assemblies/build.gradle
Owners: @planetf1

PR build should publish to maven local to get best build test for PR
  .github/workflows/pr-v4.yml
Owners: @planetf1

Add Update hardcoded version strings required to allow containers/api to work correctly
  open-metadata-implementation/platform-services/platform-services-server/src/main/java/org/odpi/openmetadata/platformservices/server/OMAGServerPlatformOriginServices.java
  open-metadata-implementation/server-chassis/server-chassis-spring/src/main/java/org/odpi/openmetadata/serverchassis/springboot/OMAGServerPlatform.java
  open-metadata-resources/open-metadata-deployment/docker/configure/Dockerfile
  open-metadata-resources/open-metadata-deployment/docker/egeria/Dockerfile
Owners: @mandy-chessell, @bogdan-sava, @lpalashevski, @planetf1

Do #7090 specify Java 17 for sonatype lift
  .lift.toml
Owners: none

Correct v4 merge build
  .github/workflows/merge-v4.yml
Owners: @planetf1

Update docker image to UBI9 openjdk17-runtime
  open-metadata-resources/open-metadata-deployment/docker/egeria/Dockerfile
Owners: @planetf1

Update directory for build output in container image
  .github/workflows/merge-v4.yml
Owners: @planetf1

Update build target for artifact generation to build publish
  .github/workflows/merge-v4.yml
Owners: @planetf1

Correct path used to source distribution package for docker image content
  .github/workflows/merge-v4.yml
Owners: @planetf1

Correct docker latest tag to only operate when branch is main
  .github/workflows/merge-v4.yml
Owners: @planetf1

Add v4 build function for docker, publishing
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

Correct syntax error in lift configuration
  .lift.toml
Owners: none

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1
