Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1

Add more dependency
  open-metadata-implementation/governance-servers/engine-host-services/engine-host-services-api/build.gradle
Owners: @planetf1

Add more dependencies
  open-metadata-implementation/governance-servers/engine-host-services/engine-host-services-registration/build.gradle
Owners: @planetf1

Add more dependencies
  open-metadata-implementation/governance-servers/engine-host-services/engine-host-services-server/build.gradle
Owners: @planetf1

Add more dependencies
  open-metadata-implementation/engine-services/governance-action/governance-action-server/build.gradle
Owners: @planetf1

git7140 match client to server endpoints
  open-metadata-implementation/access-services/asset-manager/asset-manager-client/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/client/SchemaExchangeClientBase.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-spring/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/server/spring/SchemaExchangeResource.java
Owners: @mandy-chessell

unwrap connectorException when sending events
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/openmetadatatopic/OpenMetadataTopicSenderConnectorBase.java
Owners: @mandy-chessell

Upgrade gradle wrapper to 7.6
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: @planetf1

Upgrade gradle wrapper to 7.6
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: @planetf1

Update groovy to 3.0.13 - required for gradle 7.6
  build.gradle
Owners: @planetf1

improved error handling
  open-metadata-implementation/access-services/asset-consumer/asset-consumer-topic-connectors/src/main/java/org/odpi/openmetadata/accessservices/assetconsumer/connectors/outtopic/AssetConsumerOutTopicServerConnector.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-topic-connectors/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/connectors/outtopic/AssetManagerOutTopicServerConnector.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-topic-connectors/src/main/java/org/odpi/openmetadata/accessservices/assetowner/connectors/outtopic/AssetOwnerOutTopicServerConnector.java
  open-metadata-implementation/access-services/community-profile/community-profile-topic-connectors/src/main/java/org/odpi/openmetadata/accessservices/communityprofile/connectors/outtopic/CommunityProfileOutTopicServerConnector.java
  open-metadata-implementation/access-services/data-engine/data-engine-topic-connectors/src/main/java/org/odpi/openmetadata/accessservices/dataengine/connectors/intopic/DataEngineInTopicClientConnector.java
  open-metadata-implementation/access-services/data-manager/data-manager-topic-connectors/src/main/java/org/odpi/openmetadata/accessservices/datamanager/connectors/outtopic/DataManagerOutTopicServerConnector.java
  open-metadata-implementation/access-services/digital-architecture/digital-architecture-topic-connectors/src/main/java/org/odpi/openmetadata/accessservices/digitalarchitecture/connectors/outtopic/DigitalArchitectureOutTopicServerConnector.java
  open-metadata-implementation/access-services/governance-engine/governance-engine-topic-connectors/src/main/java/org/odpi/openmetadata/accessservices/governanceengine/connectors/outtopic/GovernanceEngineOutTopicServerConnector.java
  open-metadata-implementation/access-services/it-infrastructure/it-infrastructure-topic-connectors/src/main/java/org/odpi/openmetadata/accessservices/itinfrastructure/connectors/outtopic/ITInfrastructureOutTopicServerConnector.java
  open-metadata-implementation/access-services/security-manager/security-manager-topic-connectors/src/main/java/org/odpi/openmetadata/accessservices/securitymanager/connectors/outtopic/SecurityManagerOutTopicServerConnector.java
  open-metadata-implementation/access-services/security-officer/security-officer-topic-connectors/src/main/java/org/odpi/openmetadata/accessservices/securityofficer/connectors/outtopic/SecurityOfficerOutTopicServerConnector.java
  open-metadata-implementation/access-services/stewardship-action/stewardship-action-topic-connectors/src/main/java/org/odpi/openmetadata/accessservices/stewardshipaction/connectors/outtopic/StewardshipActionOutTopicServerConnector.java
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/openmetadatatopic/OpenMetadataTopicSenderConnectorBase.java
Owners: @mandy-chessell, @popa-raluca, @lcpopa

name fixes
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/omrstopic/OMRSTopicConnector.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@3e312ed4b6128554b34aab37bf93ebd741f2bf60 🚀
  member-search-index.zip
  org/odpi/openmetadata/accessservices/assetmanager/server/spring/SchemaExchangeResource.html
  package-search-index.zip
  type-search-index.zip
Owners: none

git7147 add classifications to update schema attribute
  open-metadata-implementation/access-services/asset-manager/asset-manager-server/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/handlers/SchemaExchangeHandler.java
Owners: @mandy-chessell

Update remaining version references to 3.14
  build.gradle
  developer-resources/License-Example-Files/License_for_POM_Files.xml
  developer-resources/tools/HTTPie-Curl.md
  open-metadata-conformance-suite/docs/platform-workbench/test-cases/platform-origin-test-case.md
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/docs/README.md
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/docs/overview-of-the-graph-repository-connector.md
  open-metadata-implementation/admin-services/admin-services-server/src/main/java/org/odpi/openmetadata/adminservices/OMAGServerOriginServices.java
  open-metadata-implementation/platform-services/platform-services-server/src/main/java/org/odpi/openmetadata/platformservices/server/OMAGServerPlatformOriginServices.java
  open-metadata-implementation/server-chassis/server-chassis-spring/src/main/java/org/odpi/openmetadata/serverchassis/springboot/OMAGServerPlatform.java
  open-metadata-resources/open-metadata-deployment/docker/README.md
  open-metadata-resources/open-metadata-deployment/docker/configure/Dockerfile
  open-metadata-resources/open-metadata-deployment/docker/egeria/Dockerfile
  open-metadata-resources/open-metadata-deployment/docker/egeria/README.md
Owners: @planetf1, @mandy-chessell, @cmgrote, @lpalashevski, @lcpopa, @bogdan-sava

Set version 3.15-SNAPSHOT for remaining project files
  build.gradle
  developer-resources/License-Example-Files/License_for_POM_Files.xml
  developer-resources/tools/HTTPie-Curl.md
  open-metadata-conformance-suite/docs/platform-workbench/test-cases/platform-origin-test-case.md
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/docs/README.md
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/docs/overview-of-the-graph-repository-connector.md
  open-metadata-implementation/admin-services/admin-services-server/src/main/java/org/odpi/openmetadata/adminservices/OMAGServerOriginServices.java
  open-metadata-implementation/platform-services/platform-services-server/src/main/java/org/odpi/openmetadata/platformservices/server/OMAGServerPlatformOriginServices.java
  open-metadata-implementation/server-chassis/server-chassis-spring/src/main/java/org/odpi/openmetadata/serverchassis/springboot/OMAGServerPlatform.java
  open-metadata-resources/open-metadata-deployment/docker/README.md
  open-metadata-resources/open-metadata-deployment/docker/configure/Dockerfile
  open-metadata-resources/open-metadata-deployment/docker/egeria/Dockerfile
  open-metadata-resources/open-metadata-deployment/docker/egeria/README.md
Owners: @planetf1, @mandy-chessell, @cmgrote, @lpalashevski, @lcpopa, @bogdan-sava

Upgrade gradle wrapper to 7.6
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: @planetf1

Update groovy to 3.0.13 - required for gradle 7.6
  build.gradle
Owners: @planetf1

Deploying to gh-pages from @ odpi/egeria@406b87242786c316f0a05a277090c17e47441ad2 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Update capability plugin to org.gradlex.java-ecosystem-capabilities
  build.gradle
  settings.gradle
Owners: @planetf1

logic fix for send registry event
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/openmetadatatopic/OpenMetadataTopicSenderConnectorBase.java
  open-metadata-implementation/repository-services/repository-services-implementation/src/main/java/org/odpi/openmetadata/repositoryservices/eventmanagement/OMRSRegistryEventPublisher.java
  open-metadata-implementation/server-chassis/server-chassis-spring/src/main/resources/application.properties
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/resources/application.properties
Owners: @mandy-chessell, @bogdan-sava, @lpalashevski

reverted app props changes
  open-metadata-implementation/server-chassis/server-chassis-spring/src/main/resources/application.properties
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/resources/application.properties
Owners: @bogdan-sava, @lpalashevski, @mandy-chessell

Revert "Bump swagger-annotations from 2.2.6 to 2.2.7"
  build.gradle
Owners: @planetf1

Revert "Bump swagger.version from 2.2.6 to 2.2.7"
  pom.xml
Owners: @planetf1, @mandy-chessell

Remove duplicate janus.version in pom.xml
  pom.xml
Owners: @planetf1, @mandy-chessell

Revert "Bump swagger.version from 2.2.6 to 2.2.7"
  pom.xml
Owners: @planetf1, @mandy-chessell

Revert "Bump springdoc-openapi-ui from 1.6.12 to 1.6.13"
  build.gradle
Owners: @planetf1

Revert "Bump springdoc-openapi-ui from 1.6.12 to 1.6.13"
  pom.xml
Owners: @planetf1, @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@692e791a49db41e8af18b53a5a0d4dea081e30e9 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Update spring minor versions
  build.gradle
  pom.xml
Owners: @planetf1, @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@23e90e50db61792ce2fa7bc7df6646f17aeffacc 🚀
  member-search-index.zip
  org/odpi/openmetadata/userinterface/uichassis/springboot/auth/LoginFilter.html
  package-search-index.zip
  type-search-index.zip
Owners: none

#7090 Add new v4 actions for pr - gradle/codeql
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

#7090 disable existing builds from version 0-3
  .github/workflows/merge-gradle.yml
  .github/workflows/merge-maven.yml
  .github/workflows/pr-codeql.yml
  .github/workflows/pr-gradle.yml
  .github/workflows/pr-maven-latest.yml
  .github/workflows/pr-maven-prod.yml
  .github/workflows/release.yml
Owners: @planetf1

#7090 Update to Java 17
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

#7090 add unique names for v4 build
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

Add #7090 Update to Java 17 language/class level
  build.gradle
Owners: @planetf1

Correct path used to source distribution package for docker image content
  .github/workflows/merge-v4.yml
Owners: @planetf1

#7090 use official gradle build action
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

Add v4 build function for docker, publishing
  .github/workflows/codeql-v4.yml
  .github/workflows/merge-v4.yml
  .github/workflows/pr-v4.yml
Owners: @planetf1

PR build should publish to maven local to get best build test for PR
  .github/workflows/pr-v4.yml
Owners: @planetf1

Correct syntax error in lift configuration
  .lift.toml
Owners: none
