Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

Remove maven dependabot
  .github/dependabot.yml
Owners: @planetf1

#7421 BOM - remove empty projects, and unnecessary project mappings
  settings.gradle
Owners: @planetf1

#7421 BOM - include Egeria modules for constraints
  build.gradle
Owners: @planetf1

#7421 BOM - Update artifactName for BOM to egeria - to be compat with 3.x/maven
  bom/build.gradle
Owners: @planetf1

#7536 update gradle wrapper to 8.0.2
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @planetf1

#7501 ignore maven poms for sonatype lift scan
  .lift.toml
Owners: none

Signed-off-by: Nigel Jones <nigel.l.jones+git@gmail.com>
  codeql-v4.yml
Owners: none

#7499 remove max paths limit for codeQL
  .github/workflows/codeql-v4.yml
Owners: @planetf1

Redesigned ConnectedAssetUniverse instantiation
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/frameworkservices/ocf/metadatamanagement/client/ConnectedAssetClientBase.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/frameworkservices/ocf/metadatamanagement/client/ConnectedAssetRelatedAssetProperties.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/frameworkservices/ocf/metadatamanagement/client/ConnectedAssetUniverse.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/frameworkservices/ocf/metadatamanagement/client/EgeriaConnectedAssetProperties.java
Owners: @mandy-chessell

#7424 remove additional healthcheck exclusions
  build.gradle
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/build.gradle
Owners: @planetf1

Updated SchemaAttributes iterator
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/frameworkservices/ocf/metadatamanagement/client/ConnectedAssetUniverse.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/frameworkservices/ocf/metadatamanagement/client/ConnectedNestedSchemaType.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/AssetUniverse.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/PagingIterator.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/SchemaAttributes.java
Owners: @mandy-chessell

Add integration report havesting to data manager based OMISs
  open-metadata-implementation/admin-services/admin-services-api/src/main/java/org/odpi/openmetadata/adminservices/configuration/properties/IntegrationConnectorConfig.java
  open-metadata-implementation/frameworks/open-integration-framework/src/main/java/org/odpi/openmetadata/frameworks/integration/context/IntegrationContext.java
  open-metadata-implementation/frameworks/open-integration-framework/src/main/java/org/odpi/openmetadata/frameworks/integration/context/OpenMetadataAccess.java
  open-metadata-implementation/frameworks/open-integration-framework/src/main/java/org/odpi/openmetadata/frameworks/integration/contextmanager/IntegrationContextManager.java
  open-metadata-implementation/integration-services/analytics-integrator/analytics-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/analytics/connector/AnalyticsIntegratorContext.java
  open-metadata-implementation/integration-services/analytics-integrator/analytics-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/analytics/contextmanager/AnalyticsIntegratorContextManager.java
  open-metadata-implementation/integration-services/api-integrator/api-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/api/connector/APIIntegratorContext.java
  open-metadata-implementation/integration-services/api-integrator/api-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/api/contextmanager/APIIntegratorContextManager.java
  open-metadata-implementation/integration-services/catalog-integrator/catalog-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/catalog/connector/CatalogIntegratorContext.java
  open-metadata-implementation/integration-services/catalog-integrator/catalog-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/catalog/contextmanager/CatalogIntegratorContextManager.java
  open-metadata-implementation/integration-services/database-integrator/database-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/database/connector/DatabaseIntegratorContext.java
  open-metadata-implementation/integration-services/database-integrator/database-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/database/contextmanager/DatabaseIntegratorContextManager.java
  open-metadata-implementation/integration-services/display-integrator/display-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/display/connector/DisplayIntegratorContext.java
  open-metadata-implementation/integration-services/display-integrator/display-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/display/contextmanager/DisplayIntegratorContextManager.java
  open-metadata-implementation/integration-services/files-integrator/files-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/files/connector/FilesIntegratorContext.java
  open-metadata-implementation/integration-services/files-integrator/files-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/files/contextmanager/FilesIntegratorContextManager.java
  open-metadata-implementation/integration-services/infrastructure-integrator/infrastructure-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/infrastructure/connector/InfrastructureIntegratorContext.java
  open-metadata-implementation/integration-services/infrastructure-integrator/infrastructure-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/infrastructure/contextmanager/InfrastructureIntegratorContextManager.java
  open-metadata-implementation/integration-services/lineage-integrator/lineage-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/lineage/connector/LineageIntegratorContext.java
  open-metadata-implementation/integration-services/lineage-integrator/lineage-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/lineage/contextmanager/LineageIntegratorContextManager.java
  open-metadata-implementation/integration-services/organization-integrator/organization-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/organization/connector/OrganizationIntegratorContext.java
  open-metadata-implementation/integration-services/organization-integrator/organization-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/organization/contextmanager/OrganizationIntegratorContextManager.java
  open-metadata-implementation/integration-services/search-integrator/search-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/search/connector/SearchIntegratorContext.java
  open-metadata-implementation/integration-services/search-integrator/search-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/search/contextmanager/SearchIntegratorContextManager.java
  open-metadata-implementation/integration-services/security-integrator/security-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/security/connector/SecurityIntegratorContext.java
  open-metadata-implementation/integration-services/security-integrator/security-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/security/contextmanager/SecurityIntegratorContextManager.java
  open-metadata-implementation/integration-services/topic-integrator/topic-integrator-api/src/main/java/org/odpi/openmetadata/integrationservices/topic/connector/TopicIntegratorContext.java
  open-metadata-implementation/integration-services/topic-integrator/topic-integrator-server/src/main/java/org/odpi/openmetadata/integrationservices/topic/contextmanager/TopicIntegratorContextManager.java
Owners: @mandy-chessell

#7424 #7543 Cleanup dependencies
  bom/build.gradle
  build.gradle
  open-metadata-implementation/server-chassis/server-chassis-spring/build.gradle
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/build.gradle
  settings.gradle
Owners: @planetf1

Deploying to gh-pages from @ odpi/egeria@8e4a2db601cf5f7d94ee696ee4d86a04746abdcb 🚀
  org/odpi/openmetadata/adminservices/configuration/properties/IntegrationConnectorConfig.html
  org/odpi/openmetadata/frameworks/integration/context/IntegrationContext.html
  org/odpi/openmetadata/frameworks/integration/context/OpenMetadataAccess.html
  org/odpi/openmetadata/frameworks/integration/contextmanager/IntegrationContextManager.html
  org/odpi/openmetadata/integrationservices/analytics/connector/AnalyticsIntegratorContext.html
  org/odpi/openmetadata/integrationservices/analytics/contextmanager/AnalyticsIntegratorContextManager.html
  org/odpi/openmetadata/integrationservices/api/connector/APIIntegratorContext.html
  org/odpi/openmetadata/integrationservices/api/contextmanager/APIIntegratorContextManager.html
  org/odpi/openmetadata/integrationservices/catalog/connector/CatalogIntegratorContext.html
  org/odpi/openmetadata/integrationservices/catalog/contextmanager/CatalogIntegratorContextManager.html
  org/odpi/openmetadata/integrationservices/database/connector/DatabaseIntegratorContext.html
  org/odpi/openmetadata/integrationservices/database/contextmanager/DatabaseIntegratorContextManager.html
  org/odpi/openmetadata/integrationservices/display/connector/DisplayIntegratorContext.html
  org/odpi/openmetadata/integrationservices/display/contextmanager/DisplayIntegratorContextManager.html
  org/odpi/openmetadata/integrationservices/files/connector/FilesIntegratorContext.html
  org/odpi/openmetadata/integrationservices/files/contextmanager/FilesIntegratorContextManager.html
  org/odpi/openmetadata/integrationservices/infrastructure/connector/InfrastructureIntegratorContext.html
  org/odpi/openmetadata/integrationservices/infrastructure/contextmanager/InfrastructureIntegratorContextManager.html
  org/odpi/openmetadata/integrationservices/lineage/connector/LineageIntegratorContext.html
  org/odpi/openmetadata/integrationservices/lineage/contextmanager/LineageIntegratorContextManager.html
  org/odpi/openmetadata/integrationservices/organization/connector/OrganizationIntegratorContext.html
  org/odpi/openmetadata/integrationservices/organization/contextmanager/OrganizationIntegratorContextManager.html
  org/odpi/openmetadata/integrationservices/search/connector/SearchIntegratorContext.html
  org/odpi/openmetadata/integrationservices/search/contextmanager/SearchIntegratorContextManager.html
  org/odpi/openmetadata/integrationservices/security/connector/SecurityIntegratorContext.html
  org/odpi/openmetadata/integrationservices/security/contextmanager/SecurityIntegratorContextManager.html
  org/odpi/openmetadata/integrationservices/topic/connector/TopicIntegratorContext.html
  org/odpi/openmetadata/integrationservices/topic/contextmanager/TopicIntegratorContextManager.html
Owners: none

#7547 Add @ilovechai as contributor
  CONTRIBUTORS.md
Owners: @mandy-chessell

allow access to api-docs & swagger
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/auth/SecurityConfig.java
Owners: @mandy-chessell

Removed Git artifacts
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/frameworkservices/ocf/metadatamanagement/client/ConnectedAssetUniverse.java
Owners: @mandy-chessell

Fixed leftover alignment issues
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/frameworkservices/ocf/metadatamanagement/client/ConnectedAssetUniverse.java
Owners: @mandy-chessell

Solved conversations
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/frameworkservices/ocf/metadatamanagement/client/ConnectedAssetUniverse.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/frameworkservices/ocf/metadatamanagement/client/EgeriaConnectedAssetProperties.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/AssetUniverse.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/SchemaAttributes.java
Owners: @mandy-chessell

#7330 remove additional poms after main merge
  open-metadata-implementation/framework-services/oif-metadata-management/oif-metadata-api/pom.xml
  open-metadata-implementation/framework-services/oif-metadata-management/oif-metadata-client/pom.xml
  open-metadata-implementation/framework-services/oif-metadata-management/oif-metadata-server/pom.xml
  open-metadata-implementation/framework-services/oif-metadata-management/oif-metadata-spring/pom.xml
  open-metadata-implementation/framework-services/oif-metadata-management/pom.xml
  open-metadata-implementation/frameworks/open-integration-framework/pom.xml
Owners: @planetf1, @mandy-chessell

#7536 update gradle wrapper to 8.0.2
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @planetf1

Update valid statuses for ControlledGlossaryTerms
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/metadataelements/MetadataCorrelationHeader.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-api/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/properties/GlossaryTermStatus.java
  open-metadata-implementation/access-services/asset-manager/asset-manager-server/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/handlers/GlossaryExchangeHandler.java
  open-metadata-implementation/framework-services/oif-metadata-management/README.md
  open-metadata-implementation/repository-services/repository-services-apis/src/main/java/org/odpi/openmetadata/repositoryservices/connectors/stores/metadatacollectionstore/properties/instances/InstanceStatus.java
  open-metadata-implementation/repository-services/repository-services-archive-utilities/src/main/java/org/odpi/openmetadata/repositoryservices/archiveutilities/OMRSArchiveHelper.java
  open-metadata-resources/open-metadata-archives/open-metadata-types/src/main/java/org/odpi/openmetadata/opentypes/OpenMetadataTypesArchive.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/src/main/java/org/odpi/openmetadata/accessservices/assetmanager/fvt/glossaries/CreateGlossaryTest.java
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@e5b73157819294fe6af8fccbd330fe304c918ded 🚀
  org/odpi/openmetadata/accessservices/assetmanager/properties/GlossaryTermStatus.html
  serialized-form.html
Owners: none

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1
