Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

merge with master
  open-metadata-implementation/admin-services/admin-services-registration/src/main/java/org/odpi/openmetadata/adminservices/configuration/registration/AccessServiceAdmin.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/beans/Connection.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/beans/VirtualConnection.java
Owners: @mandy-chessell

small fix to typo
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/processors/DataEngineEventProcessor.java
Owners: @popa-raluca, @lcpopa

fix compilation error & added executor shutdown on service shutdown
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/admin/DataEngineServicesInstance.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/service/DataEngineRESTServices.java
Owners: @popa-raluca, @lcpopa

git6998 add a caching omrs connector
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/README.md
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/build.gradle
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/pom.xml
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/auditlog/CachingOMRSAuditCode.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/auditlog/CachingOMRSErrorCode.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/auditlog/package-info.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/helpers/ExceptionHelper.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/repository/CachedRepositoryAccessor.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/repositoryconnector/CachingOMRSMetadataCollection.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/repositoryconnector/CachingOMRSRepositoryProxyConnector.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/repositoryconnector/CachingOMRSRepositoryProxyConnectorProvider.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/repositoryconnector/package.info
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/pom.xml
Owners: @mandy-chessell, @planetf1

git6998 add remove unnecessary helper
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/helpers/ExceptionHelper.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/repository/CachedRepositoryAccessor.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/repository/package.info
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/repositoryconnector/package.info
Owners: @mandy-chessell

git6998 correct typo
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/repository/CachedRepositoryAccessor.java
Owners: @mandy-chessell

Force antlr4 v 4.9.3 due to CVE Integer Overflow or Wraparound
  pom.xml
Owners: @planetf1, @mandy-chessell

jackson-databind micro patch [CVE-2022-42003]
  pom.xml
Owners: @planetf1, @mandy-chessell

Align updates with Gradle build configuration as well
  build.gradle
  pom.xml
Owners: @planetf1, @mandy-chessell

Moved enforced dep. versions to the end for better visibility
  pom.xml
Owners: @planetf1, @mandy-chessell

Remove duplicate.
  pom.xml
Owners: @planetf1, @mandy-chessell

Enforcing versions of third party transitive deps.
  build.gradle
  pom.xml
Owners: @planetf1, @mandy-chessell

Remove chronicle-wire version enforcement
  pom.xml
Owners: @planetf1, @mandy-chessell

Jackson databind micro patch 2.13.4.1 [CVE-2022-42003]
  pom.xml
Owners: @planetf1, @mandy-chessell

Align changes with gradle build
  build.gradle
Owners: @planetf1

Correct version jackson-databind micro patch
  build.gradle
Owners: @planetf1

#7004 add Dan as contributor
  CONTRIBUTORS.md
Owners: @mandy-chessell

Deploying to gh-pages from @ odpi/egeria@5dcb75ffe67b0a1a509bae4e7e059c5f15edec57 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Add typedefs and instances to JavaDoc
  build.gradle
Owners: @planetf1

#3370 initial creation of maven artifacts for gradle build
  build.gradle
  open-metadata-distribution/open-metadata-assemblies/build.gradle
  open-metadata-implementation/access-services/analytics-modeling/analytics-modeling-api/build.gradle
Owners: @planetf1

chronicle-wire (pom import) and jcommander
  build.gradle
  pom.xml
Owners: @planetf1, @mandy-chessell

#3370 refactor(tidy) of top level gradle build file
  build.gradle
  open-metadata-distribution/open-metadata-assemblies/build.gradle
Owners: @planetf1

DE Proxy - use ProcessingState classification for saving sync time in DS connector
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DataEngineEventHeader.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DataEngineEventType.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/DataEngineRegistrationEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/event/ProcessingStateEvent.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/ffdc/DataEngineErrorCode.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/model/Engine.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/model/ProcessingState.java
  open-metadata-implementation/access-services/data-engine/data-engine-api/src/main/java/org/odpi/openmetadata/accessservices/dataengine/rest/ProcessingStateRequestBody.java
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineClient.java
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineEventClient.java
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineRESTClient.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/admin/DataEngineServicesInstance.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineEventTypeHandler.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineFolderHierarchyHandler.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEnginePortHandler.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineProcessHandler.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineRegistrationHandler.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineRelationalDataHandler.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineTopicHandler.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/listeners/DataEngineInTopicListener.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/processors/DataEngineEventProcessor.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/service/DataEngineRESTServices.java
  open-metadata-implementation/access-services/data-engine/data-engine-spring/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/spring/DataEngineResource.java
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-connector/src/main/java/org/odpi/openmetadata/governanceservers/dataengineproxy/connectors/DataEngineConnectorBase.java
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-connector/src/main/java/org/odpi/openmetadata/governanceservers/dataengineproxy/connectors/DataEngineInterface.java
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-services-server/src/main/java/org/odpi/openmetadata/governanceservers/dataengineproxy/processor/DataEngineProxyService.java
Owners: @popa-raluca, @lcpopa, @cmgrote

Change JCL over SLF4J back to previous version
  pom.xml
Owners: @planetf1, @mandy-chessell

DE - Documentation and collections for engine refactoring and processing state classification
  open-metadata-implementation/access-services/data-engine/docs/samples/collections/DataEngine-asset_endpoints.postman_collection.json
  open-metadata-implementation/access-services/data-engine/docs/samples/collections/DataEngine-topics-lineage_examples.postman_collection.json
  open-metadata-implementation/access-services/data-engine/docs/samples/events/DataEngine_upsert_events.txt
  open-metadata-implementation/access-services/data-engine/docs/scenarios/README.md
  open-metadata-implementation/access-services/data-engine/docs/scenarios/lookup-registration-tool.md
  open-metadata-implementation/access-services/data-engine/docs/scenarios/register-external-tool.md
  open-metadata-implementation/governance-servers/data-engine-proxy-services/data-engine-proxy-services-server/README.md
Owners: @popa-raluca, @lcpopa, @cmgrote

DE - FVTs changes for engine refactoring
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/EngineSetupService.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/RepositoryService.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/ConnectionAndEndpointFVT.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/DataEngineFVT.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/DataStoreAndRelationalTableFVT.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/FindFVT.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/LineageFVT.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/SoftwareCapabilityFVT.java
  open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/src/test/java/org/odpi/openmetadata/accessservices/dataengine/fvt/TopicAndEventTypeFVT.java
Owners: @alexandra-bucur, @lcpopa

DE - JUnits for engine refactoring and processing state classification
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/test/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineRESTClientTest.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/handlers/DataEngineRegistrationHandlerTest.java
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/service/DataEngineRESTServicesTest.java
  open-metadata-implementation/access-services/data-engine/data-engine-spring/src/test/java/org/odpi/openmetadata/accessservices/dataengine/server/spring/DataEngineResourceTest.java
Owners: @popa-raluca, @lcpopa

git6998 add a caching repository connector
  Content-Organization.md
  open-metadata-distribution/open-metadata-assemblies/build.gradle
  open-metadata-distribution/open-metadata-assemblies/src/main/assemblies/egeria-omag.xml
  open-metadata-implementation/adapters/open-connectors/connector-configuration-factory/build.gradle
  open-metadata-implementation/adapters/open-connectors/connector-configuration-factory/pom.xml
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/README.md
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/repositoryconnector/CachingOMRSRepositoryProxyConnectorProvider.java
  pom.xml
  settings.gradle
Owners: @planetf1, @mandy-chessell

git6998 correct readme
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/README.md
Owners: @mandy-chessell

git6998 reformat code
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/auditlog/CachingOMRSAuditCode.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/auditlog/CachingOMRSErrorCode.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/repository/CachedRepositoryAccessor.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/repositoryconnector/CachingOMRSMetadataCollection.java
  open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/omrs-caching-repository-connector/src/main/java/org/odpi/openmetadata/adapters/repositoryservices/caching/repositoryconnector/CachingOMRSRepositoryProxyConnector.java
Owners: @mandy-chessell

git6998 add connector to distribution
  open-metadata-distribution/open-metadata-assemblies/pom.xml
Owners: @planetf1, @mandy-chessell

DE REST Client - avoid null in getProcessingState
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineRESTClient.java
Owners: @popa-raluca, @lcpopa

git6998 add include to gradle settings
  settings.gradle
Owners: @planetf1

#6907 master->main rename
  .github/workflows/merge-gradle.yml
  .github/workflows/merge-maven.yml
  .github/workflows/pr-codeql.yml
  .github/workflows/pr-gradle.yml
  .github/workflows/pr-maven-latest.yml
  .github/workflows/pr-maven-prod.yml
  .github/workflows/scorecards.yml
Owners: @planetf1

Deploying to gh-pages from @ odpi/egeria@8cbf7ea25ea570b63847691f8a4ed470749d169b 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Increase jvm mem for gradle
  gradlew
Owners: @planetf1

Jackson version update and chronicle version enforcement via bom
  build.gradle
Owners: @planetf1

Deploying to gh-pages from @ odpi/egeria@40ec581a8dbf82eeb7e96e2412099358193e8fc1 🚀
  member-search-index.zip
  package-search-index.zip
  type-search-index.zip
Owners: none

Updated comments
  build.gradle
  pom.xml
Owners: @planetf1, @mandy-chessell

DE REST Client - avoid null in getProcessingState
  open-metadata-implementation/access-services/data-engine/data-engine-client/build.gradle
  open-metadata-implementation/access-services/data-engine/data-engine-client/pom.xml
  open-metadata-implementation/access-services/data-engine/data-engine-client/src/main/java/org/odpi/openmetadata/accessservices/dataengine/client/DataEngineRESTClient.java
Owners: @planetf1, @mandy-chessell, @popa-raluca, @lcpopa

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1
