Repository odpi/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @alexandra-bucur, @lcpopa, @popa-raluca, @marius-patrascu, @davidradl, @lpalashevski, @bogdan-sava

remove unnecessary exclusions
  build.gradle
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/build.gradle
Owners: @planetf1

reduce the number of dataflow paths reported in the SARIF output
  .github/workflows/codeql-v4.yml
Owners: @planetf1

#7499 Disable CodeQL until scan is fixed
  .github/workflows/codeql-v4.yml
Owners: @planetf1

Upgrade snakeyaml in gradle bom
  build.gradle
Owners: @planetf1

git7512
  open-metadata-implementation/server-standalone/pom.xml
  open-metadata-implementation/server-standalone/server-standalone-spring/build.gradle
  open-metadata-implementation/server-standalone/server-standalone-spring/pom.xml
  open-metadata-implementation/server-standalone/server-standalone-spring/src/main/java/org/odpi/openmetadata/serverstandalone/springboot/OMAGServerPlatform.java
  open-metadata-implementation/server-standalone/server-standalone-spring/src/main/java/org/odpi/openmetadata/serverstandalone/springboot/StartupFailEvent.java
  open-metadata-implementation/server-standalone/server-standalone-spring/src/main/resources/application.properties
  open-metadata-implementation/server-standalone/server-standalone-spring/src/main/resources/banner.txt
  open-metadata-implementation/server-standalone/server-standalone-spring/src/main/resources/keystore.p12
  open-metadata-implementation/server-standalone/server-standalone-spring/src/main/resources/truststore.p12
  pom.xml
  settings.gradle
Owners: @planetf1, @mandy-chessell

git7512 rename
  open-metadata-implementation/server-standalone/server-standalone-spring/src/main/java/org/odpi/openmetadata/serverstandalone/springboot/StandaloneOMAGServer.java
Owners: @mandy-chessell

git7512 initial application
  open-metadata-implementation/admin-services/admin-services-server/src/main/java/org/odpi/openmetadata/adminservices/server/OMAGServerOperationalServices.java
  open-metadata-implementation/server-standalone/server-standalone-spring/build.gradle
  open-metadata-implementation/server-standalone/server-standalone-spring/src/main/java/org/odpi/openmetadata/serverstandalone/springboot/StandaloneOMAGServer.java
  open-metadata-implementation/server-standalone/server-standalone-spring/src/main/resources/banner.txt
  settings.gradle
Owners: @mandy-chessell, @planetf1

Remove maven dependabot
  .github/dependabot.yml
Owners: @planetf1

Manual review of dependency version tags - various updates
  build.gradle
Owners: @planetf1

Deploying to gh-pages from @ odpi/egeria@813a5e096b3ea25c5d18c240986ee271e24eba08 🚀
  org/odpi/openmetadata/userinterface/uichassis/springboot/api/exceptions/BadRequestException.html
  org/odpi/openmetadata/userinterface/uichassis/springboot/api/exceptions/UserNotAuthorizedException.html
Owners: none

git7512 initial prototype
  open-metadata-implementation/admin-services/admin-services-server/src/main/java/org/odpi/openmetadata/adminservices/server/OMAGServerOperationalServices.java
  open-metadata-implementation/server-standalone/pom.xml
  open-metadata-implementation/server-standalone/server-standalone-spring/build.gradle
  open-metadata-implementation/server-standalone/server-standalone-spring/pom.xml
  open-metadata-implementation/server-standalone/server-standalone-spring/src/main/java/org/odpi/openmetadata/serverstandalone/springboot/OMAGServerStandalone.java
  open-metadata-implementation/server-standalone/server-standalone-spring/src/main/resources/application.properties
  open-metadata-implementation/server-standalone/server-standalone-spring/src/main/resources/banner.txt
Owners: @mandy-chessell, @planetf1

git7512
  open-metadata-implementation/server-standalone/server-standalone-spring/build.gradle
  open-metadata-implementation/server-standalone/server-standalone-spring/src/main/resources/application.properties
  settings.gradle
Owners: @planetf1, @mandy-chessell

#7421 Alter dependency management to create a clean BOM
  build.gradle
Owners: @planetf1

#7421 BOM - include Egeria modules for constraints
  build.gradle
Owners: @planetf1

#7421 BOM - move bom to distinct subproject
  bom/build.gradle
  build.gradle
  settings.gradle
Owners: @planetf1

#7421 BOM - leanup layout/conditionals for simplification
  bom/build.gradle
  build.gradle
Owners: @planetf1

#7421 BOM - remove empty projects, and unnecessary project mappings
  settings.gradle
Owners: @planetf1

#7421 BOM - fix aggregate javadoc & tidy up compile
  bom/build.gradle
  build.gradle
Owners: @planetf1

#7421 BOM - Update artifactName for BOM to egeria - to be compat with 3.x/maven
  bom/build.gradle
Owners: @planetf1

Redesigned ConnectedAssetUniverse instantiation
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/client/ConnectedAssetClientBase.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/client/ConnectedAssetRelatedAssetProperties.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/client/ConnectedAssetUniverse.java
  open-metadata-implementation/framework-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/client/EgeriaConnectedAssetProperties.java
Owners: @mandy-chessell

update spring.version for maven
  pom.xml
Owners: @planetf1, @mandy-chessell

remove unused dependency
  open-metadata-implementation/server-chassis/server-chassis-spring/pom.xml
Owners: @planetf1, @mandy-chessell

update maven compiler source and target
  pom.xml
Owners: @planetf1, @mandy-chessell

update pom.xml
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/pom.xml
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/pom.xml
  pom.xml
Owners: @planetf1, @mandy-chessell

update maven dependencies
  pom.xml
Owners: @planetf1, @mandy-chessell

add license
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/api/AuthController.java
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/auth/KeyPairGeneratorUtils.java
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/auth/model/LoginRequest.java
Owners: @mandy-chessell

removed io.jsonwebtoken dependency
  open-metadata-resources/open-metadata-samples/open-metadata-security-samples/src/main/java/org/odpi/openmetadata/metadatasecurity/samples/CocoPharmaPlatformSecurityConnectorTokenBased.java
Owners: @mandy-chessell

remove update spring-security
  pom.xml
Owners: @planetf1, @mandy-chessell

remove unused imports
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/auth/SecurityConfig.java
Owners: @mandy-chessell

Upgrade snakeyaml in gradle bom
  build.gradle
Owners: @planetf1

change jackson dependencies scope
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/build.gradle
Owners: @planetf1

update logback version for gradle
  build.gradle
Owners: @planetf1

fix javadoc
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/src/main/java/org/odpi/openmetadata/userinterface/uichassis/springboot/auth/SecurityConfig.java
Owners: @mandy-chessell

remove unnecessary exclusions
  build.gradle
  open-metadata-implementation/user-interfaces/ui-chassis/ui-chassis-spring/build.gradle
Owners: @planetf1

Fix treating possible null members of collection
  open-metadata-implementation/access-services/data-engine/data-engine-server/src/main/java/org/odpi/openmetadata/accessservices/dataengine/server/service/DataEngineRESTServices.java
Owners: @popa-raluca, @lcpopa

#7421 BOM - fix aggregate javadoc & tidy up compile
  bom/build.gradle
  build.gradle
Owners: @planetf1

Manual review of dependency version tags - various updates
  build.gradle
Owners: @planetf1

#7421 Alter dependency management to create a clean BOM
  build.gradle
Owners: @planetf1

#7421 BOM - move bom to distinct subproject
  bom/build.gradle
  build.gradle
  settings.gradle
Owners: @planetf1

#7421 BOM - leanup layout/conditionals for simplification
  bom/build.gradle
  build.gradle
Owners: @planetf1

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell @cmgrote

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/analytics-modeling/ @mandy-chessell
open-metadata-implementation/access-services/asset-catalog/ @alexandra-bucur @lcpopa
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-lineage/ @lcpopa @popa-raluca 
open-metadata-implementation/access-services/asset-manager/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-manager/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca @lcpopa
open-metadata-implementation/access-services/data-privacy/ @mandy-chessell
open-metadata-implementation/access-services/design-model/ @mandy-chessell
open-metadata-implementation/access-services/dev-ops/ @mandy-chessell
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/digital-service/ @mandy-chessell
open-metadata-implementation/access-services/discovery-engine/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa @marius-patrascu
open-metadata-implementation/access-services/governance-engine/ @mandy-chessell
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/it-infrastructure/ @mandy-chessell
open-metadata-implementation/access-services/project-management/ @mandy-chessell
open-metadata-implementation/access-services/security-manager/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @mandy-chessell
open-metadata-implementation/access-services/software-developer/ @mandy-chessell
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/adatpers/authentication-plugins/ @planetf1
open-metadata-implementation/adatpers/open-connectors/ @mandy-chessell
open-metadata-implementation/adapters/open-connectors/rest-client-connectors/spring-rest-client-connector/ @planetf1
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @marius-patrascu @lcpopa
open-metadata-implementation/adapters/open-connectors/repository-services-connectors/open-metadata-collection-store-connectors/graph-repository-connector/ @lpalashevski @lcpopa 
open-metadata-implementation/admin-services/ @mandy-chessell
open-metadata-implementation/common-services/ @mandy-chessell
open-metadata-implementation/frameworks/ @mandy-chessell
open-metadata-implementation/governance-servers/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote @popa-raluca
open-metadata-implementation/governance-servers/open-lineage-services/ @marius-patrascu @popa-raluca
open-metadata-implementation/platform-services/ @mandy-chessell
open-metadata-implementation/server-chassis/ @mandy-chessell
open-metadata-implementation/server-chassis/server-chassis-spring/ @bogdan-sava @lpalashevski
open-metadata-implementation/user-interface/ui-chassis/ @bogdan-sava @marius-patrascu
open-metadata-implementation/view-services/ @davidradl


# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/analytics-modeling-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-consumer-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/asset-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/data-engine-fvt/ @alexandra-bucur @lcpopa
open-metadata-test/open-metadata-fvt/access-services-fvt/data-manager-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/digital-architecture-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/discovery-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-engine-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/governance-program-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/stewardship-action-fvt/ @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/subject-area-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/ @davidradl
open-metadata-test/open-metadata-fvt/view-services-fvt/subject-area-fvt/ @davidradl

open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Gradle build
*.gradle @planetf1
gradle* @planetf1
gradle/ @planetf1

# Security
*.p12 @planetf1

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
INFO.yaml @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1
MAINTAINERS* @mandy-chessell
CONTRIBUTOR* @mandy-chessell
Egeria-Operations* @mandy-chessell
THIRD_PARTY.md @mandy-chessell @planetf1
CodeQualitySecurity* @lpalashevski @planetf1
